<html>
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>

   <body>
      <h1>Il y a des nouveaux chiffres dans l'index parité !</h1>

      <p class="paragraphe"><b><%= @chiffres.organization.email %></b> a ajouté des chiffres pour la structure: <b><%= @chiffres.organization.name%></b> sur l'année <b><%= @chiffres.annee%></b><br>
      </p>

      <p class="paragraphe"> Vous pouvez la retrouver dans le back office en "non visible".</p>

   </body>
</html>
