<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../../static/css/dsfr.min.css">
  <link rel="apple-touch-icon" href="../../static/favicons/apple-touch-icon.png"><!-- 180×180 -->
  <link rel="icon" href="../../static/favicons/favicon.svg" type="image/svg+xml">
  <link rel="shortcut icon" href="../../static/favicons/favicon.ico" type="image/x-icon"><!-- 32×32 -->
  <link rel="manifest" href="../../static/favicons/manifest.webmanifest" crossorigin="use-credentials">
  <link rel="stylesheet" href='../../static/style.css' />
  <meta name="description" content="Rejoignez la communauté des tuteurs et participez à la réussite des élèves des Prépas Talents">
  <title>elles font la photographie</title>

  <!-- Matomo -->
  <script src="/static/js/matomo.js"></script>
  <!-- End Matomo Code -->

</head>

<body>
  <!--HEADER-->
  <header role="banner" class="rf-header">
    <div class="rf-container">
      <div class="rf-header__body">
        <div class="rf-header__body-row">
          <div class="rf-header__brand rf-enlarge-link">
            <div class="rf-header__brand-top">
              <div class="rf-header__logo">
                <p class="rf-logo">
                  Ministère
                  <br>de la culture
                </p>
              </div>
            </div>
            <div class="rf-header__service">
              <a href="/" title="Ministère de la transformation et de la fonction publiques">
                <p class="rf-header__service-title">ellesfontlaphotographie.beta.gouv.fr</p>
              </a>
              <p class="rf-header__service-tagline">Accompagner l'égalité de genre dans le secteur de la photographie</p>
            </div>
          </div>
        </div>
      </div>
  </header>