# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
tmp/cache/bootsnap/*

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
.DS_Store

/public/assets
.byebug_history

#ignore secret KEYs
.env*

# Ignore application configuration
application.yml

# Ignore application configuration
/config/application.yml



/public/packs
/public/packs-test
/node_modules/*
/yarn-error.log
yarn-debug.log*
.yarn-integrity
