$purple: #D0ABFF;
$light-purple: #DECAFF;
$very-light-purple: #F2EEFF;
$light-yellow: #FFFED0;
$black: #000000;
$light-white: #F7F6F8;
$white: #FFFFFF;
$grey: #333333;
$dark-blue: #000091;
$yellow: #FFE800;
$light-grey: #6A6A6A;
$light-dark-purple: #BCABFF;
$rouille: #D79D9A;
$dark-blue: #000091;
$very-light-grey: #F0F0F0;
