$black: #161616;
$dark-blue: #000091;
$grey: #333333;
$purple: #BCABFF;
$rouille: #D79D9A;
$white: #FFFFFF;
$yellow: #FFE800;
$green: #B8FEC9;
$purple-comment: #E6DFFF;
$purple-blue: #6A6AF4;
$pink: #FFB7EB;
$orange: #FFB648;
$filter-grey: #F4F4F4;
$filter-purple: #6B48F4;

$light-black: #242424;
$light-grey: #6A6A6A;
$light-purple: #DECAFF;
$light-yellow: #FFFED0;
$light-white: #F7F6F8;

$background-pink: #FBBCB4;

$very-light-purple: #F2EEFF;
$very-light-grey: #F0F0F0;

$dark-blue: #000091;

$hover-purple: #F2EEFF;
$hover-pink: #F5E6E6;
$hover-black: #E5E5E5;
$hover-blue: #B0B0FF;
$hover-blue-purple: #4C4CE8;
