.chiffres-inegalites {
  background-color: $purple;
  padding: 3% 7%;
  .title-marianne {
    text-align: left;
    font-family:'Marianne-Bold';
    margin-bottom: 30px;
  }
  .flex-div {
    justify-content: space-between;
  }
  .sub-div-chiffres-inegalites {
    max-width: 45%;
    justify-content: space-between;
    .btn-black {
      width: 183px;
      display: flex;
      align-items: center !important;
      justify-content: space-around;
      color: white !important;
    }
    .scrollable-carousel {
      display: none;
      overflow-x: scroll;
    }
    #carousel-chiffres-inegalites {
      .carousel-item .carousel-item-sub-div {
        display: flex;
        justify-content: space-around;
        .img-carousel-chiffres-inegalites {
          max-width: 45%;
        }
      }
      .carousel-control-next,.carousel-control-prev {
        opacity: 1;
        position: absolute;
        &:hover {
          opacity: 0.8;
        }
      }
      .carousel-control-prev {
        left: -7%;
      }
      .carousel-control-next {
        right: -7%;
      }
    }
  }
}

.div-index-parite {
  background-color: $black;
  padding: 3% 10%;
  .arrow-back {
    position: absolute;
    top: 25%;
  }
  .paragraphe-small {
    color: white;
    text-align: center;
    width: 80%;
    margin: 10% auto 5%;
  }
  .div-title-index-parite {
    margin: 3% auto;
    width: 60%;
    .title-marianne {
      line-height: 50px;
      margin-bottom: 30px;
    }
    .title-marianne,.spectral-title,.paragraphe {
      color: $white;
      text-align: center;
    }
  }
  .btn-purple {
    padding: 5px 7px 5px 5px;
    width: 240px;
    margin: 3% auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #8F73FF !important;
    color: $white !important;
    &:hover {
      background-color: $purple  !important;
    }
  }
  .cards-organizations {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    .card-organization {
      background-color: $white;
      border-radius: 16px;
      padding: 7%;
      .card-organization-name {
        min-height: 140px;
        .paragraphe-bold {
          margin-bottom: 0;
          text-align: center;
          height: auto;
        }
        .flex-div {
          justify-content: space-around;
          align-items: center;
          margin: 10px 0 0;
          img {
            max-height: 80px;
            max-width: 120px;
            padding: 10px;
          }
        }
      }
      .weather-bubble {
        border-radius: 50%;
        width: 84px;
        height: 84px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        .emoji-weather {
          max-height: 80%;
          max-width: 80%;
        }
      }
      .weather-bubble.orange {
        background-color: $dark-orange;
      }
      .weather-bubble.purple {
        background-color: $filter-purple;
      }
      .weather-bubble.half-half {
        background: linear-gradient(90deg, $dark-orange 50%, $filter-purple 50%);
      }
      .card-organization-numbers {
        text-align: center;
        padding: 10% 0;
        .paragraphe {
          white-space: pre-wrap;
          padding: 0;
          margin: 0;
        }
        .paragraphe.line-orange {
          display: inline;
          box-shadow: rgba(244, 88, 0, 0.3) 0px -0.75rem 0px inset;
        }
        .paragraphe.line-purple {
          display: inline;
          box-shadow: rgba(107, 72, 244, 0.3) 0px -0.75rem 0px inset;
        }
      }
    }
  }
}

@media only screen and (max-width: 1250px) {
  .chiffres-inegalites {
    padding: 5% 0;
    .title-div-chiffres-inegalites {
      padding: 0% 4%;
    }
    .flex-div {
      display: block;
    }
    .sub-div-chiffres-inegalites {
      min-width: 100%;
      margin-bottom: 7%;
      .title-marianne, .paragraphe {
        text-align: center;
        margin: 0 auto;
      }
      .btn-black {
        margin: 20px auto;
      }
      #carousel-chiffres-inegalites {
       display: none;
     }

     .scrollable-carousel {
       display: flex;
       gap: 15px;
      .img-carousel-chiffres-inegalites:first-child {
        margin-left: 40px;
      }

      .img-carousel-chiffres-inegalites:last-child {
        margin-right: 40px;
      }
     }
    }
  }
  .div-index-parite {
    .div-title-index-parite {
      width: 80%;
    }
    .arrow-back {
      display: none;
    }
    .cards-organizations {
      grid-template-columns: 1fr 1fr 1fr;
      .card-organization .card-organization-name {
        height: 150px;
        .flex-div img {
          padding: 5px;
          max-height: 60px;
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .chiffres-inegalites {
    padding: 3% 0;
    .sub-div-chiffres-inegalites .scrollable-carousel {
      .img-carousel-chiffres-inegalites:first-child {
        margin-left: 20px;
      }

      .img-carousel-chiffres-inegalites:last-child {
        margin-right: 20px;
      }
    }
  }
  .div-index-parite {
    padding: 3%;
    .div-title-index-parite {
      .title-marianne {
        font-size: 32px;
        .spectral-title {
          font-size: 36px;
          line-height: 32px;
        }
        .paragraphe {
          line-height: 24px;
        }
      }
    }
    .btn-purple {
      margin: 10% auto;
    }
    .cards-organizations {
      grid-template-columns: 1fr 1fr;
      .card-organization {
        .weather-bubble {
          width: 40px;
          height: 40px;
        }
        .card-organization-numbers {
          padding: 5% 0;
          .paragraphe {
            font-size: 9px;
            line-height: 10px;
          }
        }
        .card-organization-name {
          height: 120px;
          .paragraphe-bold {
            font-size: 11px;
            height: 40px;
          }
          .flex-div img {
            padding: 5px;
            max-height: 50px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1600px) {

}
