@import "../config/colors";
@import "../config/fonts";
.progress-container {
  height: 0.15rem;
  width: 100%;
  border-radius: 0.4rem;
  background: transparent;
  .progress {
    height: 100%;
    width: 0;
    margin-top: 2%;
    background: $rouille;
    transition: width 0.4s ease;
  }
}

.search-div-category {
  padding-top: 6%;
  height: 80px;
}

.arrow-search {
  margin-left: 20px;
}

.search-div-category {
  display: flex;
  padding-left: 25%;
  .text-search {
    font-family: 'Marianne-Bold', sans-serif;
    font-size: 48px;
    line-height: 30px;
    margin-right: 10px;
  }
  #select-search-category {
    font-family: 'Marianne-Bold', sans-serif;
    font-size: 48px;
    line-height: 30px;
    border: 0;
    display: inline;
    white-space: pre-wrap;
    box-shadow: $rouille 0px -1.2rem 0px inset;
    padding: 0;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .choosen {
    box-shadow: $rouille 0px -3rem 0px inset !important;
    img {
      width: 36px !important;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
    #dropdown-elements-category {
      display: none;
      position: absolute;
      background-color: $white;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      width: 100%;
      border: 1px solid $rouille;
      max-height: 335px;
      overflow:auto;
      div {
        color: $black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-family: 'Marianne-Regular', sans-serif;
        font-size: 20px;
        line-height: 40px;
        cursor: pointer;
        width: 100%;
      }
      div:hover {background-color: $hover-pink;}
    }
    .show {display: block !important;}
  }
}

.button-search {
  background-color: $rouille;
  border-radius: 40px;
  display: table !important;
  padding: 10px 20px;
  font-family: 'Marianne-Regular', sans-serif;
  font-size: 1rem;
  display: flex;
  margin-left: 25%;
  cursor: pointer;
  &:hover {
    background-color: $hover-pink;
  }
}

#search-form {
  display: none;
}

.main-index {
  display: flex;
  color: $black;
  padding: 3% 5%;
  column-gap: 2rem;
  .index-direction {
    max-width: 20%;
    .dropdown {
      display: none;
    }
    .box-criteria {
      border: 1px solid $black;
      padding: 10% 5%;
      .button-criteria-selected,.button-criteria {
        background-color: $white;
        border-radius: 40px;
        border: 1px solid $rouille;
        display: table !important;
        padding: 5px 10px;
        font-family: 'Marianne-Regular', sans-serif;
        font-size: 0.7rem;
        display: flex;
        cursor: pointer;
        &:hover {
          background-color: $rouille;
        }
      }
    }
    .box-criteria-top {
      border-bottom: none;
    }
    .conseils-sum {
      border: solid 1px $black;
      padding: 10% 5%;
      margin-bottom:0;
    }
    .contact-index-conseils-div {
      .contact-index-conseils {
        background-color: $rouille;
        padding: 4%;
        margin-top: 30px;
        .img-div {
          display: flex;
          justify-content: center;
          img {
            max-width: 180px;
            max-height: 180px;
          }
        }
        .paragraphe-bold {
          color: $white;
        }
        .button-contact-index {
          background-color: $white;
          border-radius: 40px;
          display: table !important;
          padding: 10px 20px;
          font-family: 'Marianne-Regular', sans-serif;
          font-size: 1rem;
          display: flex;
          margin: 20px auto;
          cursor: pointer;
          &:hover {
            background-color: $hover-pink;
          }
        }
      }
      .small-paragraphe {
        margin-top: 10px;
      }
    }
  }
  .cards {
    .index-direction-tablet-conseils {
      display: none;
    }
  }
  .contact-index-conseils-div-responsive {
    display: none;
  }
}

@media only screen and (max-width: 1250px) {
  .search-div-category {
    margin: 3% 2% 10% 2%;
    display: block;
    padding:0;
    text-align: center;
    #select-search-category {
      box-shadow: $rouille 0px -1rem 0px inset;
      font-size: 30px;
    }
    .choosen {
      box-shadow: $rouille 0px -2rem 0px inset !important;
    }
    .text-search {
      font-size: 30px;
      line-height: 0px;
      padding-top: 40px;
      margin-bottom: 30px;
    }

    .dropdown {
      #dropdown-elements-category {
        div {
          max-width: 100%;
          border-bottom: 1px solid $rouille;
          font-size: 16px;
          line-height: 20px;
        }
      }
      .dropdown-content-category {
        margin: 0 auto;
      }
    }
  }
  .button-search {
    display: block;
    text-align: center;
    margin: 10% auto 0 auto;
  }
  .main-index {
    display: block;
    .index-direction {
      display: none
    }
    .contact-index-conseils-div-responsive {
      display: block;
      grid-row-start: 2;
      .contact-index-conseils {
        background-color: $rouille;
        padding: 4%;
        margin-top:0;
        .img-div {
          display: flex;
          justify-content: center;
          img {
            max-width: 70%;
          }
        }
        .paragraphe-bold {
          color: $white;
        }
        .button-contact-index {
          background-color: $white;
          border-radius: 40px;
          display: table !important;
          padding: 10px 20px;
          font-family: 'Marianne-Regular', sans-serif;
          font-size: 1rem;
          display: flex;
          margin: 20px auto;
          cursor: pointer;
          &:hover {
            background-color: $hover-pink;
          }
        }
      }
      .small-paragraphe {
        margin-top: 10px;
      }
    }
  }
  .cards {
    .index-direction-tablet-conseils {
      min-width: 100%;
      display: block !important;
      .box-criteria {
        border: 1px solid $black;
        padding: 10px;
        padding-top:0;
        .main-bold-paragraphe {
          padding-bottom:0;
        }
        .button-criteria-selected,.button-criteria {
          background-color: $white;
          border-radius: 40px;
          border: 1px solid $rouille;
          display: table !important;
          padding: 5px 10px;
          font-family: 'Marianne-Regular', sans-serif;
          font-size: 0.7rem;
          display: flex;
          cursor: pointer;
        }
      }
      .box-criteria.box-criteria-top {
        border-bottom: none;
      }
      .dropdown {
        display: none;
      }
      .box-criteria,.sum-conseils {
        border: solid 1px $black;
        margin-bottom: 0;
        padding-top: 15px;
        margin-top:0;
      }
      p {
        text-align: center;
        margin-top: 20px;
        padding-bottom: 20px;
      }
      .link-blue {
        margin: 0;
      }
    }
    .wrapper {
      column-count: 1;
      .arrow {
        margin-top: 7% !important;
        margin-right: 5%;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .text-search, .dropdown {
    font-size: 28px;
    height: auto;
  }
  .button-search {
    margin: 30% auto 0 auto;
  }
  .dropdown {
    margin-bottom: 30px;
  }
  .main-index {
    .index-direction-tablet-conseils {
      margin-bottom: 30px;
      .dropdown {
        padding-bottom: 20px;
      }
      .box-criteria {
        .main-bold-paragraphe {
          margin-top: 10px;
          padding-bottom: 0;
        }
        .button-criteria-selected {
          margin: 10px auto 10px auto;
        }
        .button-criteria {
          margin: 10px auto 10px auto;
        }
      }
      .non-dropdown {
        display: none;
      }
      .dropdown {
        display: block
      }
    }
    .contact-index-conseils-div-responsive {
      display: block;
      grid-row-start: 5;
      p {
        text-align: center;
      }
      .contact-index-conseils {
        margin-top: 30px;
        .img-div {
          img {
            max-width: 60%;
          }
        }
      }
    }
  }
}
