.conseils-video-content {
  margin: 0 auto;
  padding: 20% 20% 5% 20%;
  .block-conseils-video {
    .link-blue {
      ul {
        margin-bottom: 0;
        li {
          list-style-image: url(arrow-darkblue.svg);
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.bhl {
  border-top: 0.1px solid $rouille;
  border-style: outset;
  margin: 40px 0;
}

@media only screen and (max-width: 1250px) {
  .conseils-video-content {
    padding: 12% 10% 5% 10%;
  }
}

@media only screen and (max-width: 750px) {
  .conseils-video-content {
    padding: 20% 10% 5% 10%;
  }
}

