#search-form {
  display: none;
}

.main-index {
  display: flex;
  color: $black;
  padding: 3% 5%;
  column-gap: 2rem;
  .cards {
    .contact-index-conseils-div {
      .contact-index-conseils {
        background-color: $rouille;
        padding: 4%;
        margin-top: 30px;

        .img-div {
          display: flex;
          justify-content: center;

          img {
            max-width: 180px;
            max-height: 180px;
          }
        }

        .paragraphe-bold {
          color: $white;
        }

        .button-contact-index {
          background-color: $white;
          border-radius: 40px;
          display: table !important;
          padding: 10px 20px;
          font-family: 'Marianne-Regular', sans-serif;
          font-size: 16px;
          display: flex;
          margin: 20px auto;
          cursor: pointer;

          &:hover {
            background-color: $hover-pink;
          }
        }
      }

      .small-paragraphe {
        margin-top: 10px;
      }
    }
    .info-contenu-div-conseil {
      margin:0;
      grid-column-start: 3;
      grid-row-start: 2;
      background-color: $black;
      padding: 22px 22px 35px 22px;
      border-radius: 4px;
      .info-contenu-conseil {
        color: $rouille;
        text-align: center !important;
        margin-bottom: 40px;
      }
      .button-contenu-conseil {
        margin: 0 auto !important;
        background-color: $rouille;
        padding: 11px 19.5px;
        border-radius: 50px;
        font-size: 14px;
        color: $black !important;
        white-space: nowrap;
        &:hover {
          opacity: 80%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1250px) {
  .search-div-category {
    margin: 3% 2% 10% 2%;
    display: block;
    padding:0;
    text-align: center;
    #select-search-category {
      box-shadow: $rouille 0px -1rem 0px inset;
      font-size: 30px;
    }
    .choosen {
      box-shadow: $rouille 0px -2rem 0px inset !important;
    }
    .text-search {
      font-size: 30px;
      line-height: 0px;
      padding-top: 40px;
      margin-bottom: 30px;
    }

    .dropdown {
      #dropdown-elements-category {
        div {
          max-width: 100%;
          border-bottom: 1px solid $rouille;
          font-size: 16px;
          line-height: 20px;
        }
      }
      .dropdown-content-category {
        margin: 0 auto;
      }
    }
  }
  .button-search {
    display: block;
    text-align: center;
    margin: 10% auto 0 auto;
  }
  .main-index {
    display: block;
    .index-direction {
      display: none
    }
  }
  .cards {
    .index-direction-tablet-conseils {
      min-width: 100%;
      display: block !important;
      .box-criteria {
        border: 1px solid $black;
        padding: 10px;
        padding-top:0;
        .main-bold-paragraphe {
          padding-bottom:0;
        }
        .button-criteria-selected,.button-criteria {
          background-color: $white;
          border-radius: 40px;
          border: 1px solid $rouille;
          display: table !important;
          padding: 5px 10px;
          font-family: 'Marianne-Regular', sans-serif;
          font-size: 14px;
          display: flex;
          cursor: pointer;
        }
      }
      .dropdown {
        display: none;
      }
      .box-criteria,.sum-conseils {
        border: solid 1px $black;
        margin-bottom: 0;
        padding-top: 15px;
        margin-top:0;
      }
      p {
        text-align: center;
        margin-top: 20px;
        padding-bottom: 20px;
      }
      .link-blue {
        margin: 0;
      }
    }
    .wrapper {
      column-count: 1;
      .arrow {
        margin-top: 7% !important;
        margin-right: 5%;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .text-search, .dropdown {
    font-size: 28px;
    height: auto;
  }
  .button-search {
    margin: 30% auto 0 auto;
  }
  .dropdown {
    margin-bottom: 30px;
  }
  .main-index {
    .cards {
      .info-contenu-div-conseil {
        grid-column-start: 1;
        grid-row-start: 6;
      }
      .index-direction-tablet-conseils {
        .dropdown {
          padding-bottom: 20px;
        }
        .box-criteria {
          .main-bold-paragraphe {
            margin-top: 10px;
            padding-bottom: 0;
          }
          .button-criteria-selected {
            margin: 10px auto 10px auto;
          }
          .button-criteria {
            margin: 10px auto 10px auto;
          }
        }
        .non-dropdown {
          display: none;
        }
        .dropdown {
          display: block
        }
      }
      .contact-index-conseils-div-responsive {
        display: block;
        grid-row-start: 4;
        p {
          text-align: center;
        }
        .contact-index-conseils {
          margin-top: 30px;
          .img-div {
            img {
              max-width: 60%;
            }
          }
        }
      }
    }
  }
}
