@import "../config/colors";
@import "../config/fonts";

.div-banner {
  background-color: $purple;
  padding-top: 2.5rem;
  .banner-show {
    display: flex;
    justify-content: space-around;
    padding: 0 3em 0 3em;
  }
}

.help-type {
  font-family: 'Marianne-Regular', sans-serif;
  background-color: $white;
  display: table !important;
  padding: 5px 17px;
  border-radius: 50px;
  font-size: 1rem;
  margin-right: 10px;
  &:hover {
    box-shadow: 0 0 6px rgba(1,1,1,0.5);
  }
}

ul li {
  font-family: 'Marianne-Regular', sans-serif;
  font-size: 1rem;
}

.help-title {
  width: 45%;
  a {
    color: $black !important;
  }
}

.help-description {
  width: 35%;
  padding: 0 6% 0 2%;
  p {
    margin: 3px;
  }
}

.hl {
  border-top: 0.1px solid $black;
  border-style: outset;
  margin: 20px 0;
}

.arrondis {
  background-color: $purple;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  width: 100%;
  height: 100px;
}

.help-content {
  margin: 0 auto;
  padding: 5% 20%;
  .block-fiche-aide.flex-div {
    .flex-div-div {
      width: 45%;
    }
  }
  .block-fiche-aide{
    .div-parite {
      position: relative;
      .pastille-parite-r {
        position: absolute;
        top: 3%;
        left: -16%;
        display: flex;
        .paragraphe-parite {
          font-family: 'Marianne-Regular', sans-serif;
          color: $black;
          font-size: 1.1em;
          text-align: right;
          margin-right: 10px;
        }
        .pastille-parite-respectee {
          font-size: 20px;
          background-color: $purple;
          padding: 2px 5px 1px 7px;
          border-radius: 50%;
          text-align: center;
          margin: 0 auto;
          height: fit-content;
        }
      }
      .pastille-parite-nr {
        position: absolute;
        top: 3%;
        left: -19%;
        display: flex;
        .paragraphe-parite {
          font-family: 'Marianne-Regular', sans-serif;
          color: $black;
          font-size: 1.1em;
          text-align: right;
          margin-right: 10px;
        }
        .pastille-parite-non-respectee {
          padding: 2px 5px 1px 7px;
          border-radius: 50%;
          text-align: center;
          margin: 0 auto;
          font-size: 20px;
          background-color: $rouille;
          height: fit-content;
        }
      }
    }
  }
  .div-btn {
    text-align: center;
    margin-bottom: 60px;
    p {
      margin-top:30px;
    }
    .btn-candidate {
      margin: 0 auto;
      font-family: 'Marianne-Regular', sans-serif;
      display: table !important;
      padding: 12px 26px;
      border-radius: 50px;
      background-color: $purple;
      text-decoration: none;
      color: $black;
      font-size: 18px;
      margin-bottom: 40px;
      &:hover {
        background-color: $hover-purple;
      }
    }
    .btn-not-available {
      margin: 0 auto;
      font-family: 'Marianne-Regular', sans-serif;
      display: table !important;
      padding: 12px 26px;
      border-radius: 50px;
      background-color: $white;
      border: 1px solid $purple;
      text-decoration: none;
      color: $black;
      font-size: 18px;
      margin-bottom: 40px;
    }
  }
  .btn-faq {
    font-family: 'Marianne-Regular', sans-serif;
    display: table !important;
    padding: 10px 22px;
    border-radius: 50px;
    background-color: $purple;
    text-decoration: none;
    color: $black;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
    &:hover {
      background-color: $hover-purple;
    }
  }
  .bhl {
    border-top: 0.1px solid $purple;
    border-style: outset;
    margin: 40px 0;
  }
}

@media only screen and (max-width: 1250px) {
  .link-blue {
    margin-left: 10%;
  }
  .pastille-parite-r, .pastille-parite-nr {
    display:none !important;
  }
  .pastille-parite-respectee, .pastille-parite-non-respectee {
    top: -3% !important;
  }
  .banner-show {
    display: block !important;
    .help-title {
      width: 100%;
      text-align: center;
      .flex-div-left {
        display: block;
        .help-type {
          margin: 5px auto;
        }
        h2 {
          text-align: center;
          font-size: 45px;
        }
      }
    }
    .help-description {
      width: 100%;
      p {
        margin:0;
      }
    }
  }
  .help-content {
    padding: 0 10%;
    .bhl {
      margin: 20px auto;
    }
    .div-btn {
      margin-top: 30px;
    }
    .block-fiche-aide {
      .paragraphe-bold {
        text-align: center;
      }
    }
  }
}
