@import "../config/colors";
@import "../config/fonts";
.progress-container {
  height: 0.15rem;
  width: 100%;
  border-radius: 0.4rem;
  background: transparent;
  .progress {
    height: 100%;
    width: 0;
    margin-top: 2%;
    background: $purple;
    transition: width 0.4s ease;
  }
}

.search-div-type {
  padding-top: 6%;
  height: 80px;
}

.arrow-search {
  margin-left: 20px;
}

.search-div-residence, .search-div-type {
  display: flex;
  padding-left: 25%;
  .text-search {
    font-family: 'Marianne-Bold', sans-serif;
    font-size: 48px;
    line-height: 30px;
    margin-right: 10px;
  }
  #select-search-residence, #select-search-type {
    font-family: 'Marianne-Bold', sans-serif;
    font-size: 48px;
    line-height: 30px;
    border: 0;
    display: inline;
    white-space: pre-wrap;
    box-shadow: $purple 0px -1.2rem 0px inset;
    padding: 0;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .choosen {
    box-shadow: #d0abff 0px -3rem 0px inset !important;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    /* Dropdown Content (Hidden by Default) */
    #dropdown-elements-residence, #dropdown-elements-type {
      display: none;
      position: absolute;
      background-color: $white;
      min-width: 95%;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      border: 1px solid $purple;
      max-height: 335px;
      overflow:auto;
      /* Links inside the dropdown */
      div {
        color: $black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-family: 'Marianne-Regular', sans-serif;
        font-size: 20px;
        line-height: 40px;
        cursor: pointer;
        width: 100%;
      }

      /* Change color of dropdown links on hover */
      div:hover {background-color: $very-light-purple;}
    }


    /* Show the dropdown menu on hover */
    .show {display: block !important;}
  }
}

.button-search {
  background-color: $purple;
  border-radius: 40px;
  display: table !important;
  padding: 10px 20px;
  font-family: 'Marianne-Regular', sans-serif;
  font-size: 1rem;
  display: flex;
  margin-left: 25%;
  cursor: pointer;
  &:hover {
    background-color: $hover-purple;

  }
}

#search-form {
  display: none;
}

.main-index {
  display: flex;
  color: $black;
  padding: 3% 5%;
  column-gap: 2rem;
  .index-direction {
    max-width: 20%;
  }
}

@media only screen and (max-width: 1250px) {
  .search-div-type, .search-div-residence {
    margin: 10% 2%;
    display: block;
    padding:0;
    text-align: center;
    #select-search-residence, #select-search-type {
      box-shadow: #d0abff 0px -1rem 0px inset;
    }
    .choosen {
      box-shadow: #d0abff 0px -2rem 0px inset !important;
    }
    .text-search {
      font-size: 30px;
      line-height: 0px;
      padding-top: 40px;
      margin-bottom: 30px;
    }
    #select-search-type, #select-search-residence {
      font-size: 30px;
      line-height: 30px;
      padding-top: 20px;
      margin-bottom: 30px;
    }

    .dropdown {
      #dropdown-elements-residence {
        div {
          border-bottom: 1px solid $purple;
          font-size: 16px;
          line-height: 20px;
        }
      }
      #dropdown-elements-type {
        div {
          max-width: 200px;
          border-bottom: 1px solid $purple;
          font-size: 16px;
          line-height: 20px;
        }
      }
      .dropdown-content-type {
        margin: 0 auto;
      }
    }
    .button-search {
      margin: 10% 2%;
      display: block;
      text-align: center;
      margin: 0 auto;
    }
  }
  .main-index {
    display: block;
    .index-direction {
      min-width: 100%;
      p {
        text-align: center;
        margin-top: 20px;
        padding-bottom: 20px;
      }
    }
    .wrapper {
      column-count: 1;
      .arrow {
        margin-top: 7% !important;
        margin-right: 5%;
      }
    }
  }
}
