.ajout_aide_page {
  .ajout_aide_title {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    .subtitle-spectral {
      margin: 5% 0 3% 0;
      font-size: 44px;
      .subtitle-regular {
        font-size: 36px;
      }
    }
    .paragraphe {
      margin: 0 auto;
      width: 50%;
      margin: 0 auto 5% auto;
    }
  }
  .subtitle-marianne {
    margin-top: 10%;
    text-align: left;
  }
  #new_help {
    width: 42%;
    margin: 0 auto;
    .form-group {
      margin: 20px 0;
    }
    .help_author_email {
      margin-bottom: 0px;
      #help_author_email {
        margin-bottom: 0px;
      }
    }
    .paragraphe-small {
      font-size: 11px;
    }
    .input {
      text-align: left;
    }

    .input-error {
      border-color: #D52941;
    }

    .display-error {
      display: block;
      color: #D52941;
    }

    .undisplay-error {
      display: none;
    }

    label, .col-form-label {
      font-family: 'Marianne-Regular', sans-serif;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
    }

    input[type=text],
    input[type=url],
    input[type=date],
    input[type=email],
    select {
      border: none;
      border-bottom: 1px solid $black;
      font-family: 'Marianne-Regular', sans-serif;
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      padding: 8px 12px;
      margin-bottom: 10px;
      margin-top: 10px;
      font-size: 14px;
      line-height: 1.42857143;
      background-color: $very-light-grey;
      vertical-align: middle;
      border-radius: 0;
    }
    select.select {
      background-image: url("chevron.svg");
      background-repeat: no-repeat;
      background-position: right 3% bottom 45%;
    }

    input[type=checkbox] {
      border-radius: 4px;
      background-color: #F0F0F0;
      border: solid 1px #000;
      width: 25px;
      height: 25px;
      &:checked {
        background-color: $purple-blue;
         background-image: url("validate-white.svg");
         background-size: 60%;
         border: none;
      }
    }

    .help_permanent {
      .form-check {
        display: flex;
        align-items: center;
        label {
          margin-left: 10px;
          #help_permanent {
            height: 20px;
            width: 20px;
          }
        }
      }
    }

    .checkboxes-div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;

      div {
        display: flex;
        align-items: center;

        .checkboxes {
          width: 20px;
          margin: 0;
          margin-right: 10px;
        }
      }
    }

    .help_type_list, .help_type_photo_list {
      display: grid;
      .form-check label {
        margin-left: 10px;
      }
    }

    textarea {
      border: none;
      border-bottom: 1px solid $black;
      min-height: 150px;
      font-family: 'Marianne-Regular', sans-serif;
      box-sizing: border-box;
      background-color: $very-light-grey;
      width: 100%;
      padding: 8px 12px;
      font-size: 14px;
      border-radius: 0;
    }

    .btn-submit {
      margin-top: 5%;
      text-align: center;
      input[type=submit] {
        margin-top: 10px;
        font-family: Marianne, sans-serif;
        font-size: 16px;
        background-color: $black;
        cursor: pointer;
        border-radius: 40px;
        padding: 10px 20px;
        border: none;
        color: $white;
        text-shadow: none;
        font-weight: normal;
        -webkit-appearance: none;
      }
    }
  }
}

@media only screen and (max-width: 1250px) {
  .ajout_aide_page {
    .ajout_aide_title {
      width: 90%;
      .paragraphe {
        width: 90%;
      }
    }
    #new_help {
      width: 80%;
    }
  }

}

@media only screen and (max-width: 750px) {
  .ajout_aide_page {
    .ajout_aide_title {
      width: 90%;
    }
    .paragraphe {
      width: 90%;
    }
  }
  #new_help {
    width: 90%;
  }
}
