.help-content {
  margin: 0 auto;
  padding: 3% 18%;
  .block-fiche-aide{
    .div-parite {
      position: relative;
      .pastille-parite-r {
        position: absolute;
        top: 3%;
        left: -16%;
        display: block;
        flex-direction: row-reverse;
        .paragraphe-parite {
          font-family: 'Marianne-Regular', sans-serif;
          color: $black;
          font-size: 14px;
          text-align: center;
        }
        .pastille-parite-respectee {
          font-size: 20px;
          background-color: $purple;
          padding: 5px 10px;
          border-radius: 50%;
          text-align: center;
          margin: 0 auto;
          height: fit-content;
          width: fit-content;
          .emojis-eflc-small {
            width: 20px;
            margin: 0;
          }
        }
      }
      .pastille-parite-nr {
        position: absolute;
        top: 3%;
        left: -18%;
        display: block;
        flex-direction: row-reverse;
        .paragraphe-parite {
          font-family: 'Marianne-Regular', sans-serif;
          color: $black;
          font-size: 14px;
          text-align: center;
        }
        .pastille-parite-non-respectee {
          padding: 5px 11px 8px 11px;
          border-radius: 50%;
          text-align: center;
          margin: 0 auto;
          font-size: 20px;
          background-color: $rouille;
          height: fit-content;
          width: fit-content;
          .emojis-eflc-small {
            width: 20px;
            margin: 0;
          }
        }
      }
    }
    ul li {
      font-family: 'Marianne-Regular', sans-serif;
      font-size: 16px;
      color: $black;
    }
  }
  .div-btn {
    text-align: center;
    margin-bottom: 60px;
    .btn-candidate {
      margin: 0 auto 40px auto;
      display: table !important;
      background-color: $purple;
      text-decoration: none;
      color: $black !important;
      &:hover {
        background-color: $hover-purple;
      }
    }
    .btn-not-available {
      margin: 0 auto 40px auto;
      background-color: $white;
      border: 1px solid $purple;
      color: $black !important;
    }
  }
  .bhl {
    border-top: 0.1px solid $purple;
    border-style: outset;
    margin: 40px 0;
  }
}

.div-review {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  padding: 20px 48px;
  .sub-div-review {
    width: 100%;
    margin-bottom: 12px;
  }
}

@media only screen and (max-width: 1250px) {
  .help-content {
    padding: 0 10%;
    .bhl {
      margin: 20px auto;
    }
    .div-btn {
      margin-top: 30px;
    }
    .flex-div {
      display: flex;
    }
    .block-fiche-aide {
      a,.link-blue {
        margin-left: 0;
      }
      .div-parite {
        display: flex;
        flex-direction: row-reverse;
        align-items:center;
        justify-content: space-between;
        .pastille-parite-r, .pastille-parite-nr {
          position: initial;
          display: block;
          min-width: 15%;
          .pastille-parite-respectee, .pastille-parite-non-respectee {
            max-width: 25px;
          }
          .paragraphe-parite {
            text-align: center;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .help-content {
    padding: 0 5%;
    .bhl {
      margin: 20px auto;
    }
    .div-btn {
      margin-top: 30px;
    }
    .flex-div {
      display: flex;
    }
    .block-fiche-aide.flex-div {
      display: block;
      .flex-div-div {
        width: 100%;
      }
    }
    .block-fiche-aide {
      .paragraphe {
        text-align: left;
      }
      a,.link-blue {
        margin-left: 0;
      }
      .div-parite {
        display: flex;
        flex-direction: row-reverse;
        align-items:center;
        justify-content: space-between;
        .div-parite-sub.present {
          width: 70%;
        }
        .pastille-parite-r, .pastille-parite-nr {
          position: initial;
          display: block;
          width: 15%;
          padding: 0 30px 0 0;
          .pastille-parite-respectee, .pastille-parite-non-respectee {
            max-width: 25px;
          }
          .paragraphe-parite {
            text-align: center;
          }
        }
      }
    }
  }
}
