/*----------------------------------------*/
/*BANNER*/

.banner {
  padding: 8vh 23vw;
  h1 {
    text-align: center !important;
    line-height: 60px;
    font-family: 'Spectral', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 34px;
    display: inline-block;
    text-align: left;
  }
}

/*----------------------------------------*/
/*FIRST BLOCKS*/

.first-block{
  .first-block-cards {
    padding-bottom: 4vh;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    text-align: center;
    cursor: pointer;
    a {
      width: 25%;
      .first-block-card.purple {
        background-color: $purple-home;
      }
      .first-block-card.orange {
        background-color: $orange;
      }
      .first-block-card.light-orange {
        background-color: $orange-home;
      }
      .first-block-card {
        border-radius: 16px;
        min-height: 466px;
        .image-first-block-card {
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
          width: 100%;
          height: 210px;
          object-fit: cover;
        }
        .first-block-card-infos.purple {
          background-color: $purple-home;
        }
        .first-block-card-infos.orange {
          background-color: $orange;
        }
        .first-block-card-infos.light-orange {
          background-color: $orange-home;
        }
        .first-block-card-infos {
          border-radius: 16px;
          padding: 5% 0;
          .first-block-card-infos-title {
            font-size: 20px;
            color: $black;
          }
          .first-block-card-infos-text {
            color: $black;
            opacity: 0;
          }
        }
        &:hover {
          box-shadow: 0 0 6px rgba(1,1,1,0.5);
          .first-block-card-infos {
            z-index: 10;
            transform: translateY(-40px);
            transition: transform .6s ease-out;
            -webkit-transition: .6s ease-out;
            -moz-transition: .6s ease-out;
            -o-transition: .6s ease-out;
            .first-block-card-infos-text {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .arrow-first-block-card {
    position: absolute;
    bottom: 8%;
  }
}

/*----------------------------------------*/
// SECOND BLOCK

.second-block {
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: center;
  img {
    max-width: 20%;
  }
  .second-block-img-mobile {
    display: none;
  }
  .second-block-div {
    width: 50%;
    .btn-orange {
      width: 200px;
      margin: 0 auto;
    }
  }
}


/*----------------------------------------*/
// THIRD BLOCK

.third-block {
  padding: 3% 5%;
  text-align: center;
  .third-block-div {
    border-radius: 16px;
    background-image: url(background-shadow2.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 3%;
    position: relative;
    background-size: 100% 100%;
    .cards-carousel {
      padding-top: 30px;
      display: flex;
      overflow: hidden;
      text-align: left;
      .card-index-helps {
        min-width: 22%;
        margin-right: 40px;
        padding-bottom: 3%;
      }
      .card-index-conseils-articles,.card-index-conseils-videos {
        min-width: 14%;
        padding: 4%;
        margin-right: 40px;
        max-height: 500px;
        .cards-videos-info {
          p {
            max-height: 250px;
            overflow: hidden;
          }
        }
      }
      .arrow-carousel-right {
        top: 50%;
        right: -2%;
        position: absolute;
        cursor: pointer;
      }
      .arrow-carousel-left {
        top: 50%;
        left: -2%;
        position: absolute;
        display: none;
        cursor: pointer;
      }
    }
  }
}

/*----------------------------------------*/
// FOURTH BLOCK

.fourth-block {
  padding: 1% 10% 6% 10%;
  text-align: center;
  position: relative;
  .title-marianne {
    padding-bottom: 3%;
    font-size: 30px;
  }
  .btn-black {
    width: 300px;
    margin: 0 auto;
  }
  .illu-femme-stylo {
    position: absolute;
    right: 40px;
    width: 280px;
    top: -24px;
  }
}

/*----------------------------------------*/
// CONTACT BLOCK
.contact-block {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 0 5% 5% 5%;
  .contact-div {
    width: 33%;
    padding: 3% 5% 7%;
    border: 1px solid $orange;
    border-radius: 16px;
    .div-btn-orange-home {
      display: flex;
      justify-content: space-between;
    }
    .description-contact-div {
      height: 420px;
      img {
        width: 100%;
      }
      .paragraphe {
        font-size: 18px;
      }
    }
    .btn-contact {
      padding: 10px;
      white-space: nowrap;
      background-color: $purple;
      border-radius: 40px;
      height: auto;
      font-family: 'Marianne-Regular', sans-serif;
      font-size: 16px;
      margin-left: 25%;
      cursor: pointer;
      color: $black !important;
      margin: 0 auto;
      margin-right: 30px;
      border : none;
      max-width: 50%;
      &:hover {
        opacity: 80%;
      }
    }
  }
  .btn-insta-home {
    display: flex;
    justify-content: space-around;
    width: 100px;
  }
  .contact-div.purple {
    border: 1px solid $purple;
    .paragraphe a {
      color: $purple !important;
    }
  }
}
/*----------------------------------------*/
// RESPONSIVE IPAD

@media only screen and (max-width: 1250px) {
  .banner {
    padding: 4em 2em 1em 2em;
    h1 {
      text-align: center;
      line-height: 65px;
    }
  }

  .paragraphe {
    color: #1a1b1f;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
  }

  .first-block {
    padding: 5% 2%;
    .first-block-cards {
      justify-content: space-between;
      a {
        width: 30%;
        .first-block-card {
          img {
            object-fit: cover;
          }
          .image-first-block-card {
            max-width: 100%;
          }
          .first-block-card-infos {
            padding: 2%;
            .first-block-card-infos-text {
              color: $black;
              opacity: 1;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .second-block {
    padding: 0% 2%;
  }

  .third-block {
    .third-block-div {
      .subtitle-spectral {
        margin: 30px 0 0 0;
      }
      .cards-carousel {
        overflow-x: scroll;
        padding-top: 50px;
        .card-index-helps {
          min-width: 36%;
          padding-bottom: 4%;
          margin-right: 20px;
          a .sub-card-index-helps .sub-card-index-helps-infos {
            -webkit-line-clamp: 4;
          }
        }
        .card-index-conseils-articles,.card-index-conseils-videos {
          min-width: 28%;
          padding: 4%;
          margin-right: 20px;
        }
      }
    }
  }

  .fourth-block {
    padding: 6% 6% 15% 6%;
    .illu-femme-stylo {
      position: absolute;
      right: 0;
      width: 250px;
      top: 55px;
    }
  }

  .contact-block {
    .contact-div {
      padding: 3%;
      width: 50%;
      .description-contact-div {
        height: 320px;
        .subtitle {
          font-size: 24px;
          line-height: 30px;
        }
        .subtitle-spectral {
          font-size: 26px;
          line-height: 30px;
        }
      }
      .div-btn-orange-home {
        display: block;
      }
      .btn-orange,.btn-contact {
        white-space: nowrap;
        display: table;
        margin: 0;
        margin-bottom: 20px;
      }
    }
  }
}

// RESPONSIVE PHONE

@media only screen and (max-width: 750px) {
  .banner {
    padding: 2em 0;
    h1 {
      font-size: 28px;
      line-height: 48px;
      padding: 0em 1em 0em 1em;
    }
  }

  .paragraphe {
    color: #1a1b1f;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
  }

  .first-block {
    .first-block-cards {
      padding: 0 5%;
      display: block;
      a {
        .first-block-card {
          margin-bottom: 8%;
          .first-block-card-infos {
          }
          .arrow-first-block-card {
            bottom: auto;
          }
        }
      }
    }

  }

  .second-block {
    display: block;
    .second-block-div {
      margin: 0 auto;
      width: 80%;
      .paragraphe-title {
        text-align: center;
      }
      .btn-orange {
        margin-bottom: 15%;
      }
    }
    .second-block-img {
      display: none;
    }
    .second-block-img-mobile {
      display: flex;
      justify-content: center;
      img {
        min-width: 40%;
      }
    }
  }

  .third-block {
    .third-block-div {
      .subtitle-spectral {
        margin: 30px 0 20px 0;
      }
      .cards-carousel {
        overflow-x: scroll;
        padding-top: 30px;
        gap: 20px;
        .arrow-carousel-right, .arrow-carousel-left {
          display: none;
        }
        .card-index-helps {
          min-width: 74%;
          padding-bottom: 4%;
          margin-right: 0;
          .arrow {
            left: 3%;
          }
          a .sub-card-index-helps {
            .sub-card-index-helps-infos {
              max-height: 120px;
            }
          }
        }
        .card-index-conseils-articles,.card-index-conseils-videos {
          min-width: 66%;
          padding: 4%;
          margin-right: 0;
          .cards-videos-info,p {
            max-height: 220px !important;
          }
        }
      }
    }
  }

  .fourth-block {
    position: initial;
    padding-top: 0;
    .title-marianne {
      padding-bottom: 10%;
    }
    .illu-femme-stylo {
      position: initial;
    }
  }
  .contact-block {
    display: block;
    .contact-div {
      width: 80%;
      margin-bottom: 20px;
      padding: 10%;
      .description-contact-div {
        height: 300px;
        p {
          text-align: center;
        }
      }
      .btn-contact,.btn-orange {
        margin: 0 auto 20px auto;
        padding: 4% 8% 5% 8%;
      }
    }
  }
}
