/*----------------------------------------*/
/*BANNER*/

.banner {
  padding: 8vh 23vw;
  h1 {
    text-align: center !important;
    line-height: 60px;
    font-family: 'Spectral', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 34px;
    display: inline-block;
    text-align: left;
  }
}

/*----------------------------------------*/
/*FIRST BLOCKS*/

.first-block{
  .first-block-cards {
    padding-bottom: 4vh;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    text-align: center;
    cursor: pointer;
    a {
      width: 25%;
      .first-block-card.purple {
        background-color: $purple-home;
      }
      .first-block-card.orange {
        background-color: $orange;
      }
      .first-block-card.light-orange {
        background-color: $orange-home;
      }
      .first-block-card {
        border-radius: 16px;
        min-height: 466px;
        .image-first-block-card {
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
          width: 360px;
          height: 200px;
        }
        .first-block-card-infos.purple {
          background-color: $purple-home;
        }
        .first-block-card-infos.orange {
          background-color: $orange;
        }
        .first-block-card-infos.light-orange {
          background-color: $orange-home;
        }
        .first-block-card-infos {
          border-radius: 16px;
          padding: 5% 0;
          .first-block-card-infos-title {
            font-size: 20px;
            color: $black;
          }
          .first-block-card-infos-text {
            color: $black;
            opacity: 0;
          }
        }
        &:hover {
          box-shadow: 0 0 6px rgba(1,1,1,0.5);
          .first-block-card-infos {
            z-index: 10;
            transform: translateY(-40px);
            transition: transform .6s ease-out;
            -webkit-transition: .6s ease-out;
            -moz-transition: .6s ease-out;
            -o-transition: .6s ease-out;
            .first-block-card-infos-text {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .arrow-first-block-card {
    position: absolute;
    bottom: 12%;
  }
}

/*----------------------------------------*/
// SECOND BLOCK

.second-block {
  padding: 3% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: center;
  img {
    max-width: 20%;
  }
  .second-block-div {
    width: 50%;
    .btn-orange {
      width: 200px;
      margin: 0 auto;
    }
  }
}


/*----------------------------------------*/
// THIRD BLOCK

.third-block {
  padding: 3% 5%;
  text-align: center;
  .third-block-div {
    border-radius: 16px;
    background-image: url(background-shadow2.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 3%;
    position: relative;
    background-size: 100% 100%;
    .cards-carousel {
      display: flex;
      overflow-x: scroll;
      gap: 40px;
      text-align: left;
      .card-index-helps {
        min-width: 24%;
      }
      .card-index-conseils-articles,.card-index-conseils-videos {
        min-width: 18%;
        padding: 4%;
      }
      .arrow-carousel-right {
        top: 50%;
        right: 0;
        position: absolute;
      }
      .arrow-carousel-left {
        top: 50%;
        left: 0;
        position: absolute;
        display: none;
      }
    }
  }
}

/*----------------------------------------*/
// FOURTH BLOCK

.fourth-block {
  padding: 1% 10% 6% 10%;
  text-align: center;
  position: relative;
  .title-marianne {
    padding-bottom: 3%;
    font-size: 30px;
  }
  .btn-black {
    width: 300px;
    margin: 0 auto;
  }
  .illu-femme-stylo {
    position: absolute;
    right: 40px;
    width: 280px;
    top: -24px;
  }
}

/*----------------------------------------*/
// CONTACT BLOCK
.contact-block {
  display: flex;
  gap: 20px;
  padding: 0 5% 5% 5%;
  .contact-div {
    width: 50%;
    padding: 3% 7% 9%;
    border: 1px solid $orange;
    border-radius: 16px;
    div {
      height: 420px;
      img {
        width: 100%;
      }
    }
    .btn-contact {
      padding: 10px;
      white-space: nowrap;
      background-color: $purple;
      border-radius: 40px;
      height: auto;
      font-family: 'Marianne-Regular', sans-serif;
      font-size: 16px;
      margin-left: 25%;
      cursor: pointer;
      color: $black !important;
      margin: 0 auto;
      margin-right: 30px;
      border : none;
      max-width: 50%;
      &:hover {
        opacity: 80%;
      }
    }
  }
  .contact-div.purple {
    border: 1px solid $purple;
    .paragraphe a {
      color: $purple !important;
    }
  }
}
/*----------------------------------------*/
// RESPONSIVE IPAD

@media only screen and (max-width: 1250px) {
  .banner {
    padding: 4em 2em 1em 2em;
    h1 {
      text-align: center;
      line-height: 65px;
    }
  }

  .paragraphe {
    color: #1a1b1f;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
  }

  .first-block {
    padding: 5% 2%;
    .first-block-cards {
      justify-content: space-between;
      a {
        width: 30%;
        .first-block-card {
          img {
            object-fit: cover;
          }
          .image-first-block-card {
            max-width: 100%;
          }
          .first-block-card-infos {
            padding: 2%;
            .first-block-card-infos-text {
              color: $black;
              opacity: 1;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .second-block {
    padding: 0% 2%;
  }

  .third-block {
    .third-block-div {
      .cards-carousel {
        gap: 20px;
        .card-index-helps {
          min-width: 38%;
          padding-bottom: 4%;
          a .sub-card-index-helps .sub-card-index-helps-infos {
            -webkit-line-clamp: 4;
          }
        }
        .card-index-conseils-articles,.card-index-conseils-videos {
          min-width: 28%;
          padding: 4%;
        }
      }
    }
  }

  .fourth-block {
    padding: 6% 6% 15% 6%;
    .illu-femme-stylo {
      position: absolute;
      right: 0;
      width: 250px;
      top: 55px;
    }
  }

  .contact-block {
    .contact-div {
      padding: 3%;
      div {
        height: 320px;
        .subtitle {
          font-size: 24px;
          line-height: 30px;
        }
        .subtitle-spectral {
          font-size: 26px;
          line-height: 30px;
        }
      }
      .btn-orange,.btn-contact {
        white-space: nowrap;
        display: table;
        margin: 0;
        margin-bottom: 20px;
      }
    }
  }
}

// RESPONSIVE PHONE

@media only screen and (max-width: 750px) {
  .banner {
    padding: 12em 0 10em 0;
    h1 {
      font-size: 38px;
      line-height: 48px;
      padding: 0em 1em 0em 1em;
    }
  }

  .paragraphe {
    color: #1a1b1f;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
  }

  .first-block {
    display: block;
    padding: 10% 10% 5% 10%;
    .first-block-left {
      min-width: 100%;
      .paragraphe-bold,.subtitle,.paragraphe-spectral-italic {
        text-align: center;
      }
      .subtitle {
        line-height: 38px;
        font-size: 26px;
        text-align:center !important;
      }
    }
    .paragraphe-spectral-italic {
      border-bottom: 1px solid $purple;
      padding-bottom: 10%;
    }
    .first-block-right {
      text-align: center;
      .paragraphe-icones {
        display: grid;
        .icones {
          margin: 0 auto;
        }
        .paragraphe {
          text-align: center !important;
        }
      }
      .paragraphe {
        text-align: center !important;
      }
    }
    div {
      min-width: 100%;
    }
  }

  .second-block {
    padding: 16% 6% 5% 6%;
    .subtitle-spectral {
      font-size: 26px;
      line-height: 40px;
    }
    .flex-div {
      justify-content: center;
      .button-helps-mobile {
        display : block;
        margin: 30px auto 60px auto;
        max-width: 50%;
        justify-content: center;
        background-color: $black;
        border-radius: 40px;
        padding: 10px 20px;
        font-family: 'Marianne-Regular', sans-serif;
        font-size: 16px;
        cursor: pointer;
        color: $white !important;
        text-align: center;
      }
      .button-helps {
        display:none;
      }
      .exemple-helps {
        display: block;
        .cards,.card-index-helps {
          a  {
            .main-bold-paragraphe.mb30 {
              margin-bottom: 10px;
              text-align: center;
            }
            .arrow {
              margin-top: 7%;
            }
          }
        }
      }
    }
  }

  .third-block, .fourth-block {
    text-align: center;
    .subtitle-spectral {
      margin-top: 60px;
    }
    // .flex-div {
    //   display:block !important;
    // }
    .paragraphe {
      .conseil-tag-home {
        margin:0;
        padding: 5px 12px;
        display: inline-flex;
      }
    }
    .div-chiffre {
      min-width: 100%;
      margin-bottom: 20px;
    }
  }

  .flex-div {
    display:block !important;
  }

  .contact-block.last {
    display: none
  }

  .contact-block {
    display: block;
    .contact-div {
      border-bottom: 1px solid $purple;
    }
    .contact-div, .manifesto-div {
      width: 100%;
      padding: 0;
      border-right: 0;
      .subtitle {
        text-align: left;
        padding: 0 6%;
      }
      .paragraphe {
        text-align: left;
        padding: 0 6%;
      }
    }
    .manifesto-div {
      padding: 14% 0 0 0;
    }
    .contact-div {
      padding: 14% 0;
    }

    .manifesto-div {
      border-bottom: 1px solid $dark-blue;
      padding-bottom: 10em !important;
      .btn-manifesto-mobile {
        text-align: left;
        margin: 0 6%;
        .btn-manifesto {
          padding: 10px 15px;
        }
      }
    }
    .btn-contact-mobile {
      margin-left: 20px;
      display: block;
      text-align: left;
    }
  }
}
