.organization-bandeau {
  background-color: $black;
  padding: 80px 14%;
  position: relative;
  .back-arrow {
    position: absolute;
    left: 8%;
    top: 90px;
    &:hover {
      opacity: 0.7;
    }
  }
  .page-structure-title {
    width: 100%;
    a {
      &:hover {
        opacity: 0.7;
      }
      h1,span {
        text-decoration: underline;
      }
    }
    h1 {
      color: $white;
      text-align: left;
      line-height: 50px;
      margin-bottom: 20px;
      .title-marianne {
        color: $white;
        font-size: 40px;
      }
    }
    .btn-outlined-white {
      border-radius: 25px;
      font-size: 14px;
      padding: 3px 10px 8px 10px;
      font-family: 'Marianne-Regular', sans-serif;
      white-space: nowrap;
      margin: 10px 0 10px 10px;
    }
    .btn-outlined-white.marianne {
      padding: 3px 10px 8px 0px;
      img {
        padding-right: 6px;
      }
    }
  }
}

.div-chiffres {
  margin: 60px 0;
  .paragraphe {
    margin-left: 3px;
  }
}

.cards-bandeau,.chiffres {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  .box {
    cursor: auto;
    .box-in {
      .flip-card-front .card-organization-name .paragraphe-bold {
        display: block;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}
.organization-chiffres {
  background-color: $white-grey;
  padding: 80px 14% 160px;
  .nav {
    display: flex;
    gap: 10px;
    .fr-btn {
      background-color: transparent;
      border: 1px solid $black;
      color: $black;
      padding: 10px 15px;
      width: 126px;
    }
    .fr-btn.active {
      background-color: $black;
      color: $white;
    }
  }
}

.organization-chiffres .prix-associes {
  padding: 0;
}

@media only screen and (max-width: 1250px) {
  .organization-bandeau {
    padding: 80px 7%;
    .back-arrow {
      left: 4%;
      top: 40px;
    }
    .cards-bandeau,.chiffres {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .organization-chiffres {
    padding: 80px 7%;
    .div-chiffres .chiffres {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
@media only screen and (max-width: 750px) {
  .organization-bandeau {
    padding: 40px 4%;
    .page-structure-title {
      width: 100%;
      h1, h1 .title-marianne {
        font-size: 28px;
        padding-bottom: 10px;
      }
      .btn-outlined-white {
        margin: 0 10px 20px 0px;
        font-size: 12px;
      }
    }
    .back-arrow {
      position: initial;
      margin-bottom: 10px;
    }
    .cards-bandeau {
      margin-top: 20px;
    }
    .cards-bandeau,.chiffres {
      grid-template-columns: 1fr 1fr ;
    }
  }
  .organization-chiffres {
    padding: 40px 4%;
    .nav {
      justify-content: center;
    }
    .div-chiffres {
      margin: 40px 0;
      .title-marianne-bold {
        font-size: 28px;
        line-height: 30px;
      }
      .paragraphe {
        text-align: left;
      }
      .chiffres {
        // grid-gap: 5px;
        margin-top: 30px;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
