.rencontre {
  .btn {
    padding: 8px 12px 12px;
  }
  .div-liens-rencontre {
    padding: 5% 10%;
    h1 {
      max-width: 35%;
      text-align:left;
      line-height: 52px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    .liens-rencontre {
      width: 35%;
      img {
        margin-right: 5px;
      }
      p {
        display: flex;
        align-items: center;
        a {
          white-space: nowrap;
          color: #666666 !important;
          font-size: 20px;
          text-decoration: none !important;
          cursor: pointer;
          &:hover {
            color: $purple-blue !important;
          }
        }
      }
    }
  }

  .webinaires-rencontre {
    background-color: $black;
    padding: 7% 10%;
    .spectral-title,.paragraphe {
      color: $white;
    }
    .paragraphe {
      max-width: 48%;
      margin: 0 auto 5%;
    }
    .cards-webinaire {
      display: grid;
      grid-gap: 16px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      .card-webinaire {
        background-color: $white;
        max-width: 100%;
        border-radius: 16px;
        .div-webinaire-img {
          position: relative;
          display: flex;
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
          .webinaire-img-1,.webinaire-img-2 {
            width: 50%;
            object-fit: cover;
          }
          .webinaire-img-1 {
            border-top-left-radius: 16px;
          }
          .webinaire-img-2 {
            border-top-right-radius: 16px;
          }
          .webinaire-img {
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            width: 100%;
            object-fit: cover;
          }
          .play {
            background-image: url("play-55.svg");
            position: absolute;
            bottom: -1.5em;
            right: 2em;
            object-fit: cover;
            z-index: 1;
            width: 55px;
            height: 55px;
            background-repeat: no-repeat;
          }
          .avenir {
            position: absolute;
            bottom: -1.5em;
            right: 2em;
            object-fit: cover;
            z-index: 1;
            background-repeat: no-repeat;
            background-color: $orange;
            border-radius: 100px;
            height: 36px;
            width: 73px;
            color: black;
            line-height: 32px;
            font-size: 14px;
            text-align: center;
          }
        }
        &:hover {
          .play {
            background-image: url("play-hover.svg");
          }
          .avenir {
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20)
          }
        }
        .webinaire-info {
          padding: 8%;
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
        }
      }
    }
  }

  .join-community {
    padding: 7%;
    background-color: $hover-purple;
    .spectral-title {
      text-align: left;
      margin-bottom: 55px !important;
      width: 50%;
      margin: 0 auto;
      text-align: center;
    }
    .join-community-div {
      align-items: center;
      justify-content: space-around;
      display: flex;
      .expertise {
        background-color: $white;
        border-radius: 10px;
        width: 35%;
        height: 342px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .main-paragraphe-medium {
        text-align: center;
        width: 70%;
        margin: 0 auto;
        line-height: 34px;
      }
      .btn-black {
        margin: 40px auto 20px auto;
        font-size: 16px !important;
        padding: 9px 26px 13px;
      }
    }
  }

  .rencontre-inscription {
    padding: 3% 7% 8%;
    .rencontre-inscription-div {
      background-image: url(background-shadow2.png);
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 16px;
      padding: 5% 15%;
      text-align: center;
      margin: 0 auto;
      p {
        margin: 0 auto 30px auto;
      }
      .btns-black {
        display: flex;
        justify-content: center;
        align-items: center;
        .btn-black {
          justify-content: space-around;
          &:active {
            background-color: $black;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1250px) {
  .rencontre {
    h1 {
      min-width: 40%;
    }
    .div-liens-rencontre .liens-rencontre {
      width: 50%;
      a {
        font-size: 18px;
      }
    }
    .webinaires-rencontre {
      padding: 8% 7%;
      .paragraphe {
        width: 100%;
      }
    }
    .join-community {
      padding: 8% 7%;
      .spectral-title {
        width: 85%;
      }
      .join-community-div {
        justify-content: space-between;
        .expertise {
          width: 45%;
        }
      }
    }
    .rencontre-inscription {
      .rencontre-inscription-div {
        padding: 10% 5%;
      }
      .btn-black {
        margin-bottom: 20px;
        padding : 12px 22px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .rencontre .webinaires-rencontre .cards-webinaire {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 750px) {
  .rencontre {
    .spectral-title {
      font-size: 34px;
      line-height: 45px;
    }
    .div-liens-rencontre {
      .title-marianne {
        margin-top: 7%;
        text-align: center !important;
        min-width: 100%;
        line-height: 45px;
        font-size: 30px;
      }
      display: block;
      .liens-rencontre {
        text-align: center;
        min-width: 100%;
        line-height: 45px;
        font-size: 32px;
        min-width: 65%;
        margin: 5% auto 5% auto;
        p {
          justify-content: center;
          margin: 0px;
        }
      }
    }
    .webinaires-rencontre {
      padding: 20% 5%;
      .paragraphe {
        max-width: 90%;
        margin-bottom: 8%;
        line-height: 24px;
      }
      .webinaires .cards-webinaire {
        display: block;
        .card-webinaire {
          margin: 20px 0;
          .webinaire-info {
            background-color: $white;
          }
        }
      }
    }
    .join-community {
      padding: 15% 7%;
      .spectral-title {
        font-size: 38px;
        width: 95%;
      }
      .join-community-div {
        display: block;
        .expertise {
          width: 98%;
          margin: 20px 0;
        }
      }
    }
    .rencontre-inscription {
      .rencontre-inscription-div {
        .btns-black {
          display: block;
          .btn-black {
            margin: 20px auto !important;
          }
        }
      }
      .subtitle {
        font-size: 28px;
      }
    }
  }
}
