.rencontre {
  .div-liens-rencontre {
    padding: 5% 7%;
    h1 {
      max-width: 43%;
      text-align:left;
      line-height: 50px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    .liens-rencontre {
      width: 35%;
      img {
        margin-right: 5px;
      }
      a {
        white-space: nowrap;
        color: #666666 !important;
        font-size: 20px;
        text-decoration: none !important;
        cursor: pointer;
        &:hover {
          color: $purple-blue !important;
        }
      }
    }
  }
  .webinaire-coming {
    background-color: $orange;
    padding: 3% 7%;
    .title-webinaire-coming {
      margin-bottom: 20px;
    }
    .paragraphe {
      max-width: 60%;
      text-align: center;
      margin: 0 auto 60px auto;
      text-align: center;
    }
    .card-webinaire-coming {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background-color: $white;
      margin-bottom: 30px;
      border-radius: 16px;
      background-image: url(background-shadow.png);
      background-size: contain;
      background-repeat: no-repeat;
      .pastille-rencontre {
        top: -8%;
        left: 2%;
        border-radius: 40px;
        color: $black;
        padding: 4px 12px 7px 12px;
        font-family: 'Marianne-Regular', sans-serif;
        font-size: 14px;
        margin: 5px auto 30px auto;
        display: table;
        position: absolute;
        background-color: $light-purple;
      }
      .images-webinaire {
        min-width: 20%;
        max-width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        .img-webinaire {
          width: 100px;
          height: 100px;
          margin-right: 10px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .sub-div-webinaire-coming {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .info-webinaire {
          width: 23%;
          .date-webinaire {
            white-space: nowrap;
            font-family: 'Marianne-Bold', sans-serif;
            color: $black;
            padding: 0 0 9%;
            margin: 0;
          }
          .lieu-webinaire {
            display: flex;
            align-items: center;
            padding: 0 0 9%;
            margin:0;
            img {
              margin-right: 5px;
            }
            color: $dark-orange !important;
            text-decoration: none !important;
          }
        }
        .webinaire-description {
          width: 30%;
          color: #6A6A6A;
          font-family: 'Marianne-Regular', sans-serif;
          font-size: 16px;
          text-align: left;
          margin: 0;
        }
        .subtitle-marianne {
          font-family: 'Marianne-Bold', sans-serif;
          width: 30%;
          text-align: left;
          .spectral-italic {
            font-size: 22px;
            line-height : 26px;
            margin-bottom: 20px;
          }
        }
        .btn-black {
          font-size: 14px;
          width: -webkit-fill-available;
          width: fit-content;
          white-space: nowrap;
          color: $white !important;
          margin: 0 auto;
          padding : 12px 22px;
          display: inline-table;
        }
      }
    }

    .old-webinaires {
      padding: 4% 25%;
      .paragraphe-bold {
        font-size: 20px;
        text-align: center;
      }
      .btn-black {
        display: flex;
        align-items: center;
        width: -webkit-fill-available;
        width: fit-content;
        margin: 0 auto;
        color: $white !important;
        text-decoration: none !important;
        font-size: 14px;
        padding : 12px 22px;
        img {
          margin-right: 10px;
        }
      }
    }
  }

  .join-community {
    padding: 3% 7%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    div {
      width: 50%;
      .spectral-title {
        text-align: left;
        margin-bottom: 20px;
      }
      .paragraphe {
        line-height: 25px;
      }
      .btn-purple {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: -webkit-fill-available;
        width: fit-content;
        margin-top: 30px;
        &:hover {
          background-color: $hover-purple !important;
        }
        img {
          margin-right: 10px;
        }
      }
      .btn-orange-home {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: -webkit-fill-available;
        width: fit-content;
        margin-top: 30px;
        &:hover {
          background-color: $hover-orange !important;
        }
      }
    }
    .img-community {
      width: 40%;
    }
    .img-community.desk {
      display: block;
    }
    .img-community.mob {
      display: none;
    }
  }
  .join-community.bck {
    background-image: url(background-shadow.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .rencontre-inscription {
    padding: 3% 7% 8%;
    .rencontre-inscription-div {
      background-image: url(background-shadow2.png);
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 16px;
      padding: 5% 15%;
      text-align: center;
      margin: 0 auto;
      p {
        margin: 0 auto 30px auto;
      }
      .btns-black {
        display: flex;
        justify-content: center;
        align-items: center;
        .btn-black {
          display: flex;
          justify-content: space-around;
          align-items: center;
          cursor: pointer;
          padding : 12px 22px;
          color: $white !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 1250px) {
  .rencontre {
    h1 {
      min-width: 60%;
    }
    .webinaire-coming {
      .card-webinaire-coming {
        padding: 40px 20px 20px 20px;
        .pastille-rencontre {
          top: -5%;
          left: 3%;
        }
        .images-webinaire {
          display: block;
          .img-webinaire {
            margin: 0 0 20px 15px;
          }
        }
        .sub-div-webinaire-coming {
          display: block;
          .subtitle-marianne,.spectral-italic,.webinaire-description,.info-webinaire {
            width: 90%;
            margin: 0 auto;
          }
          .subtitle-marianne {
            margin-bottom: 20px;
          }
          .info-webinaire {
            display: flex;
            justify-content: space-between;
            align-items: center;
            div{
              margin: 30px 0;
              .lieu-webinaire {
                text-align: left;
                line-height: 40px;
              }
            }
            .btn-black {
              margin: 0 0 0 auto;
              padding : 12px 22px;
              position: initial;
            }
          }
        }
      }
      .old-webinaires {
        padding: 7% 12%;
        text-align: center;
      }
    }
    .join-community {
      display: block;
      padding: 10% 7%;
      div {
        width: 100%;
        .spectral-title {
          margin-bottom: 15px;
        }
      }
      .img-community {
        width: 100%;
      }
      .img-community.desk {
        display: none;
      }
      .img-community.mob {
        display: block;
        margin-bottom: 20px;
      }
    }
    .join-community.bck {
      padding-top: 20%;
    }
    .rencontre-inscription {
      .rencontre-inscription-div {
        padding: 10% 5%;
      }
      .btn-black {
        margin-bottom: 20px;
        padding : 12px 22px;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .rencontre {
    .title-marianne {
      margin-top: 7%;
      text-align: center !important;
      min-width: 100%;
      line-height: 45px;
      font-size: 30px;
    }
    .spectral-title {
      font-size: 34px;
    }
    .div-liens-rencontre {
      display: block;
      .liens-rencontre {
        margin-top: 7%;
        text-align: center;
        min-width: 100%;
        line-height: 45px;
        font-size: 32px;
        p {
          justify-content: center;
          margin: 0px;
        }
      }
    }
    .webinaire-coming {
      .paragraphe {
        min-width: 100%;
      }
      .card-webinaire-coming {
        display: block;
        padding: 40px 0px;
        .pastille-rencontre {
          top: -3%;
          left: 3%;
        }
        .images-webinaire {
          min-width: 100%;
          max-width: 100%;
          margin: 0;
          margin-bottom: 20px;
          display: flex;
        }
        .sub-div-webinaire-coming {
          .subtitle-marianne,.spectral-italic,.webinaire-description,.info-webinaire {
            text-align: center;
          }
          .info-webinaire {
            display: block;
            .lieu-webinaire {
              justify-content: center;
              margin-bottom: 20px;
            }
          }
        }
      }
      .old-webinaires {
        padding: 7% 0;
        .paragraphe-small {
          text-align: center;
        }
      }
    }
    .join-community {
      .spectral-title {
        font-size: 38px;
      }
    }
    .rencontre-inscription {
      .rencontre-inscription-div {
        .btns-black {
          display: block;
          .btn-black {
            width: -webkit-fill-available;
            width: fit-content;
            height: 23px;
            padding : 12px 22px;
            margin: 20px auto !important;
          }
        }
      }
      .subtitle {
        font-size: 28px;
      }
    }
  }
}
