.ajout-organization-page {
  .edit-orga {
    position: absolute;
    top: 20%;
    left: 10%;
  }
  .step1-ajout-organization {
    width: 42%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 750px) {
  .ajout-organization-page {
    .paragraphe {
      text-align: left;
    }
    fieldset {
      margin-left: 4px;
    }
    .edit-orga {
      top: 8%;
      left: 4%;
      img {
        width: 44px;
      }
    }
  }
}
