<%- include('partials/header') -%>
<!--HOME PAGE-->
<!--SECTION 1-->
<div class="rf-container-fluid rf-pt-12w">
  <div class="rf-grid-row rf-grid-row--center rf-grid-row--middle rf-mt-11w rf-pb-4w">
    <div id="talentText" class="rf-col-md-4 rf-col-xs-12">
      <h1 id="sectionOneTitle" class="sectionTitle">
        Découvrez la plateforme-ressources et mise en relation pour les photographes femmes et de minorité de genre !</p>
      </h1>
      <div class="sectionSubTitle" class="rf-text--lg">Rejoignez notre future communauté à destination des femmes artistes pour plus de visibilité sur la profession, une plus juste rémunération, une plus grande représentativité dans les organismes de décisions et en tant que rôle-modèles.
      <br />
      Soyez averti.e.s des actualités, en vous inscrivant à notre infolettre (1 email par mois en moyenne).
      </div>
      <a id="sectionOneButton" class="rf-btn rf-btn rf-btn--alt"
        href="https://startupdetat.typeform.com/to/PR16lKEK">Je
        m'inscris !</a>
    </div>
    <div id="talentImage" class="rf-col-md-4 rf-col-xs-12">
      <img id="talents" class="fr-responsive-img" src="../../static/images/clip-blogger.png"
        alt="Photographe" />
    </div>
  </div>
</div>
<!--SECTION 2-->
<div id="sectionTwo" class="rf-container-fluid rf-centered rf-pb-6w rf-pt-2w">
  <div id="sectionTwoContainer" class="rf-col rf-col-xs-10 rf-col-md-8 rf-my-3w">
    <div class="rf-grid-row rf-grid-row--center">
      <div>
        <h2 class="sectionTitle">Une plateforme de mise en relation et d'entraide</h2>
        <h3 class="sectionSubTitle">Devenir membre de la communauté pour bénéficier de ressources, outils, mentoring personnalisé.
        <br/> 
          📸 Devenez mentor et mentorée&nbsp;!</h3>
      </div>
    </div>
    <div id="sectionTwoCardContainer" class="rf-grid-row rf-grid-row--center rf-grid-row--gutter rf-p-6w">
      <div class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <img class="sectionTwoCardImage" src="../../static/images/Heart.svg" alt="" />
          <p class="sectionTwoCardText">Echangez avec bienveillance et trouvez des réponses à vos questions.</p>
        </div>
      </div>
      <div class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <img class="sectionTwoCardImage" src="../../static/images/Clock.svg" alt="" />
          <p class="sectionTwoCardText">Participez à des ateliers thématiques.</p>
        </div>
      </div>
      <div class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <img class="sectionTwoCardImage" src="../../static/images/Plane.svg" alt="" />
          <p class="sectionTwoCardText">Encouragez, stimulez et aidez d'autres photographes à prendre confiance.</p>
        </div>
      </div>
      <div class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <img class="sectionTwoCardImage" src="../../static/images/Words.svg" alt="" />
          <p class="sectionTwoCardText">Partagez, transmettre vos expériences et connaissances.</p>
        </div>
      </div>
      <div class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <img class="sectionTwoCardImage" src="../../static/images/Light.svg" alt="" />
          <p class="sectionTwoCardText">Prodiguez des conseils méthodologiques, techniques, administratifs, financiers...</p>
        </div>
      </div>
    </div>
    <button id="openModaleButton" class="rf-btn rf-btn--secondary" data-rf-opened="false" aria-controls="rf-modal-1"
      title="Les Prépas « Talents de service public »">En savoir plus
    </button>
    <!--MODALE-->
    <dialog aria-labelledby="rf-modal-title-modal-1" role="dialog" id="rf-modal-1" class="rf-modal">
      <div class="rf-container--fluid rf-container-md">
        <div class="rf-grid-row rf-grid-row--center">
          <div class="rf-col-12 rf-col-md-6">
            <div class="rf-modal__body">
              <div class="rf-modal__header">
                <button class="rf-link--close rf-link" title="Fermer la fenêtre modale" aria-controls="rf-modal-1"
                  target="_self">Fermer</button>
              </div>
              <div class="rf-modal__content">
                <h2 id="rf-modal-title-modal-1" class="rf-modal__title"><span
                    class="rf-fi-arrow-right-line rf-fi--sm"></span>«&nbsp;Le projet Elles font la culture&nbsp;»</h2>
                <p id="modalText">En France nous comptons environ 22 000 photographes dont seulement 35% de femmes alors qu’on les dénombre à 61% sur les bancs de l’école. Les femmes sont aujourd’hui sous-représentées dans le secteur de l’art et la culture. Moins exposées, moins programmées, moins rémunérées (-24%) que leurs homologues masculins. Notre projet vise donc à réduire les inégalités femmes-hommes dans la photographie.
                <br/>
                L’invisibilisation et la sous-représentation des femmes dans le secteur de la photographie participe de plusieurs autres constats; les artistes et professionnels photographes femmes sont :
                  <ul style="fontSize: 10px;">
                  <li class="liste-desavantages">moins exposées
                  <li class="liste-desavantages">moins programmées dans les festivals
                  <li class="liste-desavantages">moins rémunérées
                  <li class="liste-desavantages">moins aidées par les bourses et les subventions
                  <li class="liste-desavantages">moins honorées par des prix que leurs homologues de genre masculin.
                  </ul>
                  <p id="modalText">Pour répondre et tenter de trouver une solution au problème de l’invisibilisation des femmes dans la culture, l’art et en particulier de la photographie; une équipe de 5 personnes a exploré le sujet pendant 9 semaines et expérimenter aupres des parties prenantes concernées, selon la méthode agile des Startups d’Etat de beta.gouv.fr en phase d’investigation.
                  <br />
                  L’investigation nous a permis d’interroger : photographes, institutions culturelles, expert.e.s et initiatives existantes. Elle a révélé 3 problèmes majeurs : la précarité renforcée, le manque de légitimité ressenti et l’absence de ressources éducatives sur les femmes artistes ou l’égalité.
                  <br />
                  La solution envisagée regroupe plusieurs services : la mise en relation entre photographes et la centralisation de ressources pratiques et éducatives. Actuellement nous précisons les contenus avec nos utilisatrices pour entamer prochainement la phase de construction.
                  </p>
                </p>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </dialog>
  </div>
</div>
<!--SECTION 3-->
<div id="sectionThree" class="rf-container-fluid rf-centered rf-pb-6w rf-pt-2w">
  <div id="sectionThreeContainer" class="rf-col rf-col-xs-10 rf-col-md-8 rf-my-3w">
    <div class="rf-grid-row rf-grid-row--center">
      <h2 class="sectionTitle">Comment ça marche&nbsp;?</h2>
    </div>
    <div class="rf-grid-row rf-grid-row--center rf-grid-row--gutter rf-my-3w">
      <div class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <div class="sectionThreeNumber">1</div>
          <img class="sectionThreeCardImage" src="../../static/images/1.png" alt="" />
          <p class="sectionThreeCardImageText">Je remplis le formulaire d’inscription en créant un profil avec mon domaine, mon portfolio, mes compétences, mes intérêts.</p>
        </div>
      </div>
      <div class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <div class="sectionThreeNumber">2</div>
          <img class="sectionThreeCardImage" src="../../static/images/3.png" alt="" />
          <p class="sectionThreeCardImageText">Je sélectionne les sujets sur lesquels j'ai envie d'en savoir plus; et ceux sur lesquels je peux mettre mes compétences à disposition.</p>
        </div>
      </div>
      <div class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <div class="sectionThreeNumber">3</div>
          <img class="sectionThreeCardImage" src="../../static/images/4.png" alt="" />
          <p class="sectionThreeCardImageText">J'intègre le vivier de mentors/mentorées. Toute une communauté d'entraide et des ressources et ateliers pour progresser.
          </p>
        </div>
      </div>
    </div>
    <strong><p>👷‍♀️ La plateforme étant en construction, nous (l'équipe) sommes actuellement preneur.se.s d'utilisateurices test afin de nous donner leur avis et besoins afin de travailler à réduire les inégalités de genre dans le secteur de la photographie. Votre retour est précieux pour hiérarchiser les développements, les ressources prioritaires à mettre en ligne, les outils à construire... Afin de recueillir vos remarques, nous avons créer ce court questionnaire (temps de remplissage : <5min). 🚧</p>
    </strong>
    <a class="rf-btn rf-btn rf-btn--alt"
      href="https://forms.office.com/Pages/ResponsePage.aspx?id=skILXaB7uUK9iC3RVYvRkMzItRIcgC1NvcgGEjtjqthURDBJT1lCWFExNTlLSks3REE4M0RaSU5ONS4u" target="_blank">Je donne mon avis</a>
  </div>
</div>
<!--SECTION 4-->
<div id="sectionFour" class="rf-container-fluid rf-centered rf-py-6w">
  <div id="sectionTwoContainer" class="rf-grid-row rf-grid-row--center rf-grid-row--gutter">
    <h2 class="sectionTitle">Ielles en parlent mieux que nous...</h2>
    <div class="rf-grid-row rf-grid-row--center rf-grid-row--middle">
      <div style="min-width: 250px;" class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <div class="sectionFourCardText">
            <p class="sectionFourCardTitle">Juliette <span class="sectionFourCardRole">photographe reporter</span></p>
            <p class="sectionFourCardSubTitle">“Une fois qu'on est un peu lancée, la difficulté est d’avoir un travail régulier et des revenus.”
            </p>
          </div>
        </div>
      </div>
      <div style="min-width: 250px;" class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <div class="sectionFourCardText">
            <p class="sectionFourCardTitle">Marie <span class="sectionFourCardRole">photographe</span></p>
            <p class="sectionFourCardSubTitle">“Récemment, l’ubérisation de la photographie, à travers les entreprises comme Meero, a participé à la précarisation du métier de photographe.”
            </p>
          </div>
        </div>
      </div>

      <div style="min-width: 250px;" class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <div class="sectionFourCardText">
            <p class="sectionFourCardTitle">Marta Gili <span class="sectionFourCardRole">commissaire et directrice d'école</span></p>
            <p class="sectionFourCardSubTitle">“Les étudiants entrent dans le métier sans vrais savoirs juridiques ou administratifs : copyright, honoraires, impôts…”
            </p>
          </div>
        </div>
      </div>

      <div style="min-width: 250px;" class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <div class="sectionFourCardText">
            <p class="sectionFourCardTitle">Laura <span class="sectionFourCardRole">photographe</span></p>
            <p class="sectionFourCardSubTitle">“Je me dis que je suis trop jeune, pas assez d'expérience, j'arrive pas à être lucide face à mon travail.” 
            </p>
          </div>
        </div>
      </div>

      <div style="min-width: 250px;" class="rf-col-xs-12 rf-col-md-4 rf-p-3w">
        <div class="rf-text--sm">
          <div class="sectionFourCardText">
            <p class="sectionFourCardTitle">Anonyme <span class="sectionFourCardRole">photographe</span></p>
            <p class="sectionFourCardSubTitle">“Impossible d’être à la fois mère et artiste. Bien souvent, la maternité t'exclut des programmes de résidence.”
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!--SECTION 5
  <div id="sectionFive" class="rf-container-fluid rf-centered rf-my-6w">
    <div class="rf-grid-row rf-grid-row--center">
      <h2 class="sectionTitle">Les partenaires classes “Talents”</h2>
    </div>
    <div id="sectionTFiveCardContainer" class="rf-grid-row rf-grid-row--center rf-grid-row--middle">
      <div class="rf-col-xs-12 rf-col-md-2 rf-p-3w">
        <img class="partners" src="../../static/images/Ena.svg" alt="Ena" />
      </div>
      <div class="rf-col-xs-12 rf-col-md-2 rf-p-3w">
        <img class="partners" src="../../static/images/Ipag.svg" alt="Ipag" />
      </div>
      <div class="rf-col-xs-12 rf-col-md-2 rf-p-3w">
        <img class="partners" src="../../static/images/SciencesPo.svg" alt="SciencesPo" />
      </div>
      <div class="rf-col-xs-12 rf-col-md-2 rf-p-3w">
        <img class="partners" src="../../static/images/Resp.svg" alt="Resp" />
      </div>
    </div>
  </div>-->
<%- include('partials/footer') -%>