/*
 * DSFR v0.6.0 | licence MIT
 */
/* ------------------------------------ *\
  HIGHLIGHTS
\* ------------------------------------ */

.rf-highlight {
  padding-left: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.rf-highlight p {
  margin-bottom: 0;
}

.rf-highlight {
  border-left: 0.25rem solid var(--bf500);
}

@media (min-width: 48em) {
  .rf-highlight {
    padding-left: 2rem;
    margin-left: 2rem;
  }
}
