/*
 * DSFR v0.6.0 | licence MIT
 */
@charset "UTF-8";

/* ------------------------------------ *\
  NAVIGATION
\* ------------------------------------ */

.rf-nav {
  --is-link: false;
  --is-list: false;
  z-index: 3500;
}

.rf-nav *:focus, .rf-nav *:focus-visible {
  z-index: 4000;
}

.rf-nav a:not([href]) {
  cursor: default;
}

.rf-nav > .rf-link--close {
  display: none;
}

.rf-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
}

.rf-nav__item {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 1 auto;
}

.rf-nav__item::before {
  content: none;
}

.rf-nav__item > .rf-nav__link, .rf-nav__item > .rf-nav__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.75rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
  font-weight: bold;
}

.rf-nav__item > .rf-nav__link::before, .rf-nav__item > .rf-nav__btn::before {
  margin-right: 0;
}

.rf-nav__item > .rf-nav__link {
  flex-direction: row;
  box-shadow: none;
  border-radius: 0;
}

.rf-nav__item > .rf-nav__link::before {
  content: none;
}

.rf-nav__item > .rf-nav__btn {
  flex-direction: row-reverse;
}

.rf-nav__item > .rf-nav__btn::before {
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.rf-nav__item > .rf-nav__btn::before {
  font-size: 1rem;
  content: "";
  margin-left: 0.5rem;
  margin-right: 0;
  transition: transform 0.3s;
}

.rf-nav__item > .rf-nav__btn[aria-expanded="true" i]::before {
  transform: rotate(-180deg);
}

.rf-nav__item > .rf-nav__btn[aria-expanded="true" i]::after {
  content: none;
}

.rf-nav__item--active {
  position: relative;
}

.rf-nav__item--active::before {
  display: block;
  content: "";
  position: absolute;
  top: 0.75rem;
  left: -1rem;
  width: 2px;
  height: 1.5rem;
}

.rf-nav__item--active > .rf-nav__link {
  pointer-events: none;
  cursor: default;
}

.rf-menu {
  z-index: 2500;
  margin: 0 -1rem;
  padding: 0 1rem;
  width: auto;
  box-sizing: content-box;
}

.rf-menu *:focus, .rf-menu *:focus-visible {
  z-index: 3000;
}

.rf-menu__list {
  margin: 0;
  padding: 0.5rem 0 1.5rem;
  width: 20rem;
}

.rf-menu__item {
  position: relative;
  margin: 0;
}

.rf-menu__item, .rf-menu__item > .rf-nav__link {
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 0.75rem 1rem;
  text-align: left;
  box-shadow: none;
}

.rf-menu__item::before, .rf-menu__item > .rf-nav__link::before {
  content: none;
}

.rf-menu__item > .rf-nav__link {
  display: block;
  margin: -0.75rem -1rem;
  border-radius: 0;
}

.rf-menu__item--active::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  margin: 1rem 0;
}

.rf-mega-menu {
  z-index: 2500;
  margin: 0 -1rem 1px;
  padding: 0 1rem;
}

.rf-mega-menu *:focus, .rf-mega-menu *:focus-visible {
  z-index: 3000;
}

.rf-mega-menu:focus {
  outline: none;
}

.rf-mega-menu > .rf-container {
  padding: 1rem 1rem 0;
}

.rf-mega-menu > .rf-container::before {
  display: block;
  content: "";
  margin-bottom: 0.5rem;
}

.rf-mega-menu .rf-link--close {
  display: none;
  margin-left: auto;
  margin-right: -1rem;
}

.rf-mega-menu p:not([class^="rf-h"]):not([class*=" rf-h"]) {
  display: none;
}

.rf-mega-menu__category {
  position: relative;
  margin: 0 -1rem;
}

.rf-mega-menu__category, .rf-mega-menu__category > .rf-nav__link {
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: bold;
  text-align: left;
  box-shadow: none;
}

.rf-mega-menu__category > .rf-nav__link {
  display: block;
  margin: -0.75rem -1rem;
  border-radius: 0;
}

.rf-mega-menu__category > .rf-nav__link::before {
  content: none;
}

.rf-mega-menu__category--active::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  margin: 0.75rem 0;
}

.rf-mega-menu__list {
  margin: 0 -1rem 0.5rem;
}

.rf-mega-menu__item {
  position: relative;
  margin: 0;
}

.rf-mega-menu__item::before {
  content: none;
}

.rf-mega-menu__item, .rf-mega-menu__item > .rf-nav__link {
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: left;
  box-shadow: none;
}

.rf-mega-menu__item::before, .rf-mega-menu__item > .rf-nav__link::before {
  content: none;
}

.rf-mega-menu__item > .rf-nav__link {
  margin: -0.75rem -1rem;
  display: block;
  border-radius: 0;
}

.rf-mega-menu__item--active::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  margin: 0.75rem 0;
}

/**
* nav
**/

.rf-nav__link, .rf-nav__btn {
  color: var(--g800);
  background-color: var(--t-plain);
}

:root:not([data-rf-theme="dark" i]) .rf-nav__link,
:root:not([data-rf-theme="dark" i]) .rf-nav__btn {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root:not([data-rf-theme="dark" i]) [class*="rf-scheme-light"] .rf-nav__link,
:root:not([data-rf-theme="dark" i]) [class*="rf-scheme-light"] .rf-nav__btn,
:root:not([data-rf-theme="dark" i]) [class*="--scheme-light-"] .rf-nav__link,
:root:not([data-rf-theme="dark" i]) [class*="--scheme-light-"] .rf-nav__btn {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root:not([data-rf-theme="dark" i]) [class*="rf-scheme-dark"] .rf-nav__link,
:root:not([data-rf-theme="dark" i]) [class*="rf-scheme-dark"] .rf-nav__btn,
:root:not([data-rf-theme="dark" i]) [class*="--scheme-dark-"] .rf-nav__link,
:root:not([data-rf-theme="dark" i]) [class*="--scheme-dark-"] .rf-nav__btn {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root:not([data-rf-theme="dark" i]) [class*="rf-scheme-soft"] .rf-nav__link,
:root:not([data-rf-theme="dark" i]) [class*="rf-scheme-soft"] .rf-nav__btn,
:root:not([data-rf-theme="dark" i]) [class*="--scheme-soft-"] .rf-nav__link,
:root:not([data-rf-theme="dark" i]) [class*="--scheme-soft-"] .rf-nav__btn {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root[data-rf-theme="dark" i] .rf-nav__link, .rf-nav__btn {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

.rf-nav__item {
  box-shadow: inset 0 -1px 0 0 var(--g300);
}

.rf-nav__item--active::before {
  background-color: var(--bf500);
}

.rf-nav__item--active > .rf-nav__link, .rf-nav__item--active > .rf-nav__btn {
  color: var(--bf500);
}

/**
* menu
**/

.rf-menu__item--active {
  color: var(--bf500);
}

.rf-menu__item--active .rf-nav__link {
  color: currentColor;
}

.rf-menu__item--active::before {
  background-color: currentColor;
}

/**
* mega-menu
**/

.rf-mega-menu {
  background-color: var(--w-g750);
}

.rf-mega-menu__category--active, .rf-mega-menu__category--active > .rf-nav__link {
  color: var(--bf500);
}

.rf-mega-menu__category--active::before {
  content: "";
  background-color: currentColor;
}

.rf-mega-menu__item--active, .rf-mega-menu__item--active > .rf-nav__link {
  color: var(--bf500);
}

.rf-mega-menu__item--active::before {
  content: "";
  background-color: currentColor;
}

@media (min-width: 62em) {
  .rf-nav__list {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 -1rem;
  }

  .rf-nav__item {
    box-shadow: none;
  }

  .rf-nav__item--align-right {
    align-items: flex-end;
  }

  .rf-nav__item:first-child:nth-last-child(2) ~ .rf-nav__item,
  .rf-nav__item:first-child:nth-last-child(3) ~ .rf-nav__item,
  .rf-nav__item:first-child:nth-last-child(4) ~ .rf-nav__item {
    margin-left: 1.25rem;
  }

  .rf-nav__item > .rf-nav__link, .rf-nav__item > .rf-nav__btn {
    padding: 1rem;
    margin: 0;
    width: auto;
    height: 100%;
    justify-content: flex-start;
    font-weight: normal;
    min-height: 3.5rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  .rf-nav__item > .rf-nav__btn {
    padding: 1rem 0.75rem 1rem 1rem;
  }

  .rf-nav__item--active::before {
    content: none;
  }

  .rf-menu {
    position: absolute;
    top: 100%;
    margin-top: -0.25rem;
    padding-top: 0.25rem;
    box-sizing: content-box;
  }

  .rf-menu::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0.25rem 1rem 2rem;
    z-index: -1;
  }

  .rf-menu__list {
    padding: 0 0 2rem;
  }

  .rf-menu__item:not(:first-child)::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    margin: 0 1rem;
  }

  .rf-menu__item:not(.rf-menu__item--active):hover::after,
  .rf-menu__item:not(.rf-menu__item--active):hover + .rf-menu__item::after {
    display: none;
  }

  .rf-mega-menu {
    position: absolute;
    top: 100%;
    left: calc(50% - 50vw);
    width: 100vw;
    margin: -2px 0 0;
    padding: 0;
  }

  .rf-mega-menu > .rf-container {
    padding: 0 2rem 1rem;
  }

  .rf-mega-menu > .rf-container::before {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .rf-mega-menu > .rf-container::before {
    margin-bottom: 1rem;
  }

  .rf-mega-menu > .rf-container {
    position: relative;
  }

  .rf-mega-menu > .rf-container::before {
    height: 2px;
  }

  .rf-mega-menu .rf-link--close {
    display: flex;
  }

  .rf-mega-menu p:not([class^="rf-h"]):not([class*=" rf-h"]) {
    display: block;
  }

  .rf-mega-menu__category {
    margin: 0;
  }

  .rf-mega-menu__category::after {
    display: block;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .rf-mega-menu__category, .rf-mega-menu__category > .rf-nav__link {
    padding: 0.75rem 0.5rem;
  }

  .rf-mega-menu__category > .rf-nav__link {
    margin: -0.75rem -0.5rem;
  }

  .rf-mega-menu__category--active::before {
    margin: 0.5rem 0;
  }

  .rf-mega-menu__list {
    margin: 0.75rem 0 0;
  }

  .rf-mega-menu__item {
    margin: 0 0 0.5rem 0;
  }

  .rf-mega-menu__item, .rf-mega-menu__item > .rf-nav__link {
    padding: 0.25rem 0.5rem;
  }

  .rf-mega-menu__item > .rf-nav__link {
    margin: -0.25rem -0.5rem;
  }

  .rf-mega-menu__item--active::before {
    margin: 0.5rem 0;
  }

  .rf-nav__btn[aria-expanded="true" i] {
    color: var(--bf500-plain);
    background-color: var(--bf200-bf300);
  }

  .rf-nav__item--active > .rf-nav__link, .rf-nav__item--active > .rf-nav__btn {
    box-shadow: inset 0 -2px 0 0 var(--bf500);
  }

  .rf-menu::after {
    background-color: var(--w-g750);
  }

  .rf-menu__item:not(:last-child)::after {
    background-color: var(--g300);
  }

  .rf-mega-menu > .rf-container::before {
    background-color: var(--bf200-bf300);
  }

  .rf-mega-menu__category::after {
    background-color: var(--g300);
  }
}

@media (min-width: 78em) {
  .rf-mega-menu > .rf-container {
    padding: 0 0 1rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .rf-nav__link:not(a):not(:disabled):hover, a.rf-nav__link[href]:hover,
  a.rf-nav__btn[href]:hover, .rf-nav__btn:not(a):not(:disabled):hover {
    background-image: linear-gradient(0deg, var(--color-hover), var(--color-hover));
  }

  .rf-nav__link:not(a):not(:disabled):active, a.rf-nav__link[href]:active,
  a.rf-nav__btn[href]:active, .rf-nav__btn:not(a):not(:disabled):active {
    background-image: linear-gradient(0deg, var(--color-active), var(--color-active));
  }
}
