/*
 * DSFR v0.6.0 | licence MIT
 */
@charset "UTF-8";

/* ------------------------------------ *\
  PAGINATION
\* ------------------------------------ */

.rf-pagination__link, .rf-pagination__link--first, .rf-pagination__link--prev,
.rf-pagination__link--next, .rf-pagination__link--last {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.rf-pagination__link, .rf-pagination__link--first, .rf-pagination__link--prev,
.rf-pagination__link--next, .rf-pagination__link--last {
  overflow: hidden;
  z-index: 1;
}

.rf-pagination__link--first::before, .rf-pagination__link--prev::before,
.rf-pagination__link--next::before, .rf-pagination__link--last::before,
.rf-pagination__link--first.rf-pagination__link--label::before,
.rf-pagination__link--prev.rf-pagination__link--label::before,
.rf-pagination__link--next.rf-pagination__link--label::before,
.rf-pagination__link--last.rf-pagination__link--label::before {
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.rf-pagination__link, .rf-pagination__link--first, .rf-pagination__link--prev,
.rf-pagination__link--next, .rf-pagination__link--last {
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}

.rf-pagination__link--first, .rf-pagination__link--prev,
.rf-pagination__link--next, .rf-pagination__link--last {
  flex-direction: row;
  max-width: 2rem;
  max-height: 2rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.rf-pagination__link--first::before, .rf-pagination__link--prev::before,
.rf-pagination__link--next::before, .rf-pagination__link--last::before {
  font-size: 1.5rem;
}

.rf-pagination__link--first::before, .rf-pagination__link--prev::before,
.rf-pagination__link--next::before, .rf-pagination__link--last::before {
  margin-left: 0;
  margin-right: 0.25rem;
}

.rf-pagination__link--first.rf-pagination__link--label,
.rf-pagination__link--prev.rf-pagination__link--label {
  flex-direction: row;
}

.rf-pagination__link--first.rf-pagination__link--label::before,
.rf-pagination__link--prev.rf-pagination__link--label::before {
  font-size: 1rem;
}

.rf-pagination__link--first.rf-pagination__link--label::before,
.rf-pagination__link--prev.rf-pagination__link--label::before {
  margin-left: -0.25rem;
  margin-right: 0.5rem;
}

.rf-pagination__link--next.rf-pagination__link--label,
.rf-pagination__link--last.rf-pagination__link--label {
  flex-direction: row-reverse;
}

.rf-pagination__link--next.rf-pagination__link--label::before,
.rf-pagination__link--last.rf-pagination__link--label::before {
  font-size: 1rem;
}

.rf-pagination__link--next.rf-pagination__link--label::before,
.rf-pagination__link--last.rf-pagination__link--label::before {
  margin-right: -0.25rem;
  margin-left: 0.5rem;
}

.rf-pagination {
  --is-link: false;
  --is-list: false;
}

.rf-pagination__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.rf-pagination__list > *:first-child, .rf-pagination__list > *:first-child * {
  margin-left: 0;
}

.rf-pagination__list > *:last-child, .rf-pagination__list > *:last-child * {
  margin-right: 0;
}

.rf-pagination__link {
  --is-link: false;
  margin: 0;
  min-width: 2rem;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  margin-bottom: 1rem;
}

.rf-pagination__link[aria-current] {
  cursor: default !important;
}

.rf-pagination__link--first::before {
  content: "";
}

.rf-pagination__link--prev::before {
  content: "";
}

.rf-pagination__link--next::before {
  content: "";
}

.rf-pagination__link--last::before {
  content: "";
}

.rf-pagination__link--first, .rf-pagination__link--prev {
  margin-right: 0.875rem;
  margin-left: -0.625rem;
}

.rf-pagination__link--first.rf-pagination__link--label,
.rf-pagination__link--prev.rf-pagination__link--label {
  max-width: none;
  max-height: none;
}

.rf-pagination__link--next, .rf-pagination__link--last {
  margin-right: -0.625rem;
  margin-left: 0.875rem;
}

.rf-pagination__link--next.rf-pagination__link--label,
.rf-pagination__link--last.rf-pagination__link--label {
  max-width: none;
  max-height: none;
}

.rf-pagination {
  color: var(--g800);
}

.rf-pagination__link {
  background-color: var(--t-plain);
}

:root:not([data-rf-theme="dark" i]) .rf-pagination__link {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root:not([data-rf-theme="dark" i]) [class*="rf-scheme-light"] .rf-pagination__link,
:root:not([data-rf-theme="dark" i]) [class*="--scheme-light-"] .rf-pagination__link {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root:not([data-rf-theme="dark" i]) [class*="rf-scheme-dark"] .rf-pagination__link,
:root:not([data-rf-theme="dark" i]) [class*="--scheme-dark-"] .rf-pagination__link {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root:not([data-rf-theme="dark" i]) [class*="rf-scheme-soft"] .rf-pagination__link,
:root:not([data-rf-theme="dark" i]) [class*="--scheme-soft-"] .rf-pagination__link {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

:root[data-rf-theme="dark" i] .rf-pagination__link {
  --color-hover: var(--block-color-hover);
  --color-active: var(--block-color-active);
}

.rf-pagination__link[aria-current] {
  background-color: var(--bf500);
  color: var(--w-bf500);
}

:root:not([data-rf-theme="dark" i]) .rf-pagination__link[aria-current] {
  --color-hover: rgba(0, 0, 246, 0.5);
  --color-active: rgba(91, 91, 255, 0.5);
}

:root:not([data-rf-theme="dark" i]) [class*="rf-scheme-light"] .rf-pagination__link[aria-current],
:root:not([data-rf-theme="dark" i]) [class*="--scheme-light-"] .rf-pagination__link[aria-current] {
  --color-hover: rgba(0, 0, 246, 0.5);
  --color-active: rgba(91, 91, 255, 0.5);
}

:root:not([data-rf-theme="dark" i]) [class*="rf-scheme-dark"] .rf-pagination__link[aria-current],
:root:not([data-rf-theme="dark" i]) [class*="--scheme-dark-"] .rf-pagination__link[aria-current] {
  --color-hover: rgba(138, 138, 204, 0.5);
  --color-active: rgba(84, 84, 180, 0.5);
}

:root:not([data-rf-theme="dark" i]) [class*="rf-scheme-soft"] .rf-pagination__link[aria-current],
:root:not([data-rf-theme="dark" i]) [class*="--scheme-soft-"] .rf-pagination__link[aria-current] {
  --color-hover: rgba(108, 108, 108, 0.5);
  --color-active: rgba(161, 161, 161, 0.5);
}

:root[data-rf-theme="dark" i] .rf-pagination__link[aria-current] {
  --color-hover: rgba(138, 138, 204, 0.5);
  --color-active: rgba(84, 84, 180, 0.5);
}

button.rf-pagination__link:not([aria-current])[disabled],
a.rf-pagination__link:not([aria-current]):not([href]) {
  color: var(--g600-g400);
}

@media (min-width: 62em) {
  .rf-pagination__link--first.rf-pagination__link--lg-label,
  .rf-pagination__link--prev.rf-pagination__link--lg-label {
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: 2rem;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    flex-direction: row;
  }

  .rf-pagination__link--first.rf-pagination__link--lg-label:not([class*='rf-fi-']),
  .rf-pagination__link--prev.rf-pagination__link--lg-label:not([class*='rf-fi-']) {
    max-width: none;
    max-height: none;
  }

  .rf-pagination__link--first.rf-pagination__link--lg-label::before,
  .rf-pagination__link--prev.rf-pagination__link--lg-label::before {
    font-size: 1rem;
  }

  .rf-pagination__link--first.rf-pagination__link--lg-label::before,
  .rf-pagination__link--prev.rf-pagination__link--lg-label::before {
    margin-left: -0.25rem;
    margin-right: 0.5rem;
  }

  .rf-pagination__link--next.rf-pagination__link--lg-label,
  .rf-pagination__link--last.rf-pagination__link--lg-label {
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: 2rem;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    flex-direction: row-reverse;
  }

  .rf-pagination__link--next.rf-pagination__link--lg-label:not([class*='rf-fi-']),
  .rf-pagination__link--last.rf-pagination__link--lg-label:not([class*='rf-fi-']) {
    max-width: none;
    max-height: none;
  }

  .rf-pagination__link--next.rf-pagination__link--lg-label::before,
  .rf-pagination__link--last.rf-pagination__link--lg-label::before {
    font-size: 1rem;
  }

  .rf-pagination__link--next.rf-pagination__link--lg-label::before,
  .rf-pagination__link--last.rf-pagination__link--lg-label::before {
    margin-right: -0.25rem;
    margin-left: 0.5rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .rf-pagination__link:not(a):not(:disabled):hover,
  a.rf-pagination__link[href]:hover {
    background-image: linear-gradient(0deg, var(--color-hover), var(--color-hover));
  }

  .rf-pagination__link:not(a):not(:disabled):active,
  a.rf-pagination__link[href]:active {
    background-image: linear-gradient(0deg, var(--color-active), var(--color-active));
  }

  .rf-pagination__link[aria-current]:not(a):not(:disabled):hover,
  a.rf-pagination__link[aria-current][href]:hover {
    background-image: linear-gradient(0deg, var(--color-hover), var(--color-hover));
  }

  .rf-pagination__link[aria-current]:not(a):not(:disabled):active,
  a.rf-pagination__link[aria-current][href]:active {
    background-image: linear-gradient(0deg, var(--color-active), var(--color-active));
  }
}
