/*
 * DSFR v0.6.0 | licence MIT
 */
@charset "UTF-8";

/* ------------------------------------ *\
  SEARCH
\* ------------------------------------ */

.rf-search-bar .rf-btn::before {
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.rf-search-bar .rf-btn {
  flex-direction: row;
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.rf-search-bar .rf-btn::before {
  font-size: 1.5rem;
}

.rf-search-bar .rf-btn::before {
  margin-left: 0;
  margin-right: 0.5rem;
}

.rf-search-bar {
  display: flex;
  flex-direction: row;
}

.rf-search-bar .rf-label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.rf-search-bar .rf-input {
  margin: 0;
  border-radius: 0.25rem 0 0;
  max-height: none;
  /* TODO: intégrer la croix en background pour effacer la search bar
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
    */
}

.rf-search-bar .rf-input::placeholder {
  font-style: italic;
}

.rf-search-bar .rf-btn {
  flex: 1 0 auto;
  border-radius: 0 0.25rem 0 0;
}

.rf-search-bar .rf-btn::before {
  content: "";
}

.rf-search-bar .rf-input {
  box-shadow: inset 0 -2px 0 0 var(--bf500);
}

@media (min-width: 48em) {
  .rf-search-bar--lg .rf-btn {
    font-size: 1.25rem;
    line-height: 2rem;
    min-height: 3.5rem;
    padding: 0.75rem 2rem;
    flex-direction: row;
  }

  .rf-search-bar--lg .rf-btn:not([class*='rf-fi-']) {
    max-width: none;
    max-height: none;
  }

  .rf-search-bar--lg .rf-btn::before {
    font-size: 1.5rem;
  }

  .rf-search-bar--lg .rf-btn::before {
    margin-left: -0.375rem;
    margin-right: 0.5rem;
  }

  .rf-search-bar--lg .rf-input {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
