<input id="check01" type="checkbox" name="menu" />
<label class="paragraphe dropdown-label" for="check01">Précisez <span class="moins"><%= image_tag "arrow-dark-top.svg" %></span><span class="plus display"><%= image_tag "arrow-dark-bottom.svg" %></span></label>
<ul class="submenu">
  <% ConseilsVideo::CONSEIL_TAGS.each do |tag| %>
    <% unless params[:tag_list].include?(tag) %>
      <li class="button-criteria tags" data-tag="<%= tag %>"><%= tag %></li>
    <% end %>
  <% end %>
</ul>
