<div class="main-index" id="main-index-helps" >
  <div class="cards cards-help" id="cards-anchor">
    <div class="info-contenu-div-help">
      <p class="info-contenu-help lh35 main-bold-paragraphe text-align-center">Vous connaissez une autre aide ? Soumettez la, et contribuez à cette initiative !</p>
      <div class="text-align-center">
        <a href="/proposer_aide" class="button-contenu-help">Recensez une aide</a>
      </div>
    </div>
    <%= render "shared/helps_cards", helps: @helps %>
  </div>
</div>
