<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <%= image_tag "logo.png", class: "logo"%>
              <!-- <img class="logo" src="images/logo.png" alt="logo"> -->
            </div>
            <div class="fr-header__navbar">
              <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-833" aria-haspopup="menu" title="Menu" id="fr-btn-menu-mobile">
                  Menu
              </button>
            </div>
          </div>
        </div>
        <div class="fr-header__tools">
          <div class="fr-header__tools-links">
            <ul class="fr-links-group">
              <li>
                <a class="fr-link link-menu" href="#">POURQUOI</a>
              </li>
              <li>
                <a class="fr-link link-menu" href="#">COMMENT</a>
              </li>
              <li>
                <a class="fr-link link-menu" href="#">HYPOTHÈSE</a>
              </li>
              <li>
                <a class="fr-link link-menu" href="#">CALENDRIER</a>
              </li>
            </ul>
          </div>
        </div>
        <a class="dark-button" href="#">Contact</a>
      </div>
    </div>
  </div>
  <!-- Navigation principale -->
  <div class="fr-header__menu fr-modal" id="modal-833" aria-labelledby="fr-btn-menu-mobile">
      <div class="fr-container">
          <button class="fr-link--close fr-link" aria-controls="modal-833">Fermer</button>
          <div class="fr-header__menu-links"></div>
      </div>
  </div>
</header>
