<header class="header" id="top">
  <div class="header_body-row">
    <div class="header_brand">
      <a href="/" class="header_logo" >
        <%= image_tag "logo.png", class: "logo"%>
        <!-- <img class="logo" src="images/logo.png" alt="logo"> -->
      </a>
    </div>
    <div class="header_tools-links">
      <ul class="menu links-group mb0">
        <li>
          <a class="link-menu" href="/helps">💸 Aides</a>
        </li>
      </ul>
    </div>
    <a class="dark-button" href="/#contact">Contact</a>
  </div>
</header>

<header class="header-mobile">
  <a href="/" class="logo-mobile"><%= image_tag "logo.png"%></a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="/helps">💸 Aides</a></li>
  </ul>
</header>

