<div data-controller="notificationhelp">
  <a class="btn-candidate js-modal" data-modal="modal-notification-help" id="notification-help"> <%= image_tag "emojis/cloche.png", alt: "émoji cloche", class: "emojis-eflc-small" %> Recevez un rappel </a>
  <div id="modal-notification-help" data-notificationhelp-target="modal" class="modal">
    <div class="modal-inner">
      <a class="js-close-modal">
        <p class="cross">&times;</p>
      </a>
      <%= render "notification_helps/notification_helps_modal", help: @help, error_save: false %>
    </div>
  </div>
</div>
