<% if commission_parite == "respectée" %>
  <div class="pastille-parite-r">
    <div class="pastille-parite-respectee">
      <%= image_tag "emojis/coeur-jaune.png", alt: "émoji coeur jaune", class: "emojis-eflc-small" %>
    </div>
    <p class="paragraphe-parite mb0">Parité</p>
    <p class="paragraphe-parite mt0">respectée</p>
  </div>
<% else %>
  <div class="pastille-parite-nr">
    <div class="pastille-parite-non-respectee">
      <%= image_tag "emojis/visage-pleur.png", alt: "émoji triste", class: "emojis-eflc-small" %>
    </div>
    <p class="paragraphe-parite mb0">Parité</p>
    <p class="paragraphe-parite mt0">non-respectée</p>
  </div>
<% end %>
