<div class="mentions_legales">
  <h1>CGU</h1>
  <h2>Conditions générales d'utilisation de « elles font la culture »</h2>
  <p class="paragraphe">Les présentes conditions d'utilisation (CGU) sont mises en œuvre conformément à l'article L. 112-9 du code des relations entre le public et l'administration. Elles s'imposent aux usagers.</p>
  <p class="subtitle">1 - Présentation</p>
  <p class="paragraphe"><span class="paragraphe">« elles font la culture »</span> (ci-après dénommé « le Service ») est mis en œuvre par le ministère de la Culture. Le Service est destiné à accompagner les photographes femmes et minorités de genre dans le développement de leur carrière et les acteurs de la photographie dans l'intégration de la parité dans leurs pratiques.</p>
  <p class="subtitle">2 - Parcours usagers</p>
  <p class="paragraphe">Le Service est une plateforme numérique permettant :</p>
  <ul>
    <li>une meilleure connaissance des appels à candidatures en cours et à venir;</li>
    <li>la montée en compétences des photographes sur les aspects pratiques et entrepreneuriaux du métier;</li>
    <li>des outils d'entraide favorisant le partage d'expériences et la mise en relation;</li>
    <li>un aperçu des chiffres liés à la parité dans les lieux et festivals photo.</li>
  </ul>
  <p class="paragraphe">Les organisations culturelles souhaitant référencer leurs structures ou leurs aides peuvent renseigner les formulaires dédiés sans création de compte, leur adresse email leur ait demandé.</p>
  <p class="paragraphe">Les photographes souhaitant obtenir des retours sur leur travail peuvent utiliser l'outil de revue de dossier sans création de compte, leurs adresses emails leur sont demandés.</p>
  <p class="subtitle">3 - Mentions légales</p>
  <p class="paragraphe">Éditeur : Ellesfontlaculture est un service créé par l'<a href="https://beta.gouv.fr/startups/?incubateur=culture">Atelier numérique</a> du ministère de la culture en partenariat avec <a href="https://beta.gouv.fr/">Beta.gouv.fr</a>.</p>
  <p class="paragraphe">Directeur de la publication : Ministère de la Culture Secrétariat général 182, rue Saint-Honoré, 75033 Paris, Cedex 01</p>
  <p class="paragraphe">Prestataire d'hébergement : Scalingo SAS, 15 avenue du Rhin, 67100 Strasbourg, France</p>
  <p class="subtitle">4 – Modalités d'utilisation du Service</p>
  <p class="paragraphe">L'utilisation du Service est facultative et gratuite.</p>
  <p class="paragraphe">Le Service dépose des cookies de mesure d'audience (nombre de visites, pages consultées), respectant les conditions d'exemption du consentement de l'internaute définies par la recommandation « Cookies » de la Commission nationale informatique et libertés (CNIL); il utilise Matomo, un outil libre, paramétré pour ce faire. Cela signifie, notamment, que ces cookies ne servent qu'à la production de statistiques anonymes et ne permettent pas de suivre la navigation de l'internaute sur d'autres sites.</p>
  <p class="paragraphe">Le Service dépose des cookies de navigation à des fins strictement techniques, qui ne sont pas conservés.</p>
  <p class="subtitle">5 - Traitement des données</p>
  <p class="paragraphe">Le Service ne collecte que les données strictement nécessaires à sa mise en œuvre. Les données collectées incluent également des données à caractère personnel.</p>
  <p class="paragraphe">La plateforme peut traiter les données à caractère personnel suivantes :</p>
  <ol>
    <li>Données de contact, le partage de son adresse e-mail est obligatoire pour utiliser les services suivants : revue de dossiers, envoi de notifications pour les aides fermées, ajout d'une aide, saisie des chiffres parité pour sa structure. Les prénoms et noms peuvent être demandés aux responsables de structure qui partagent leurs données concernant la parité;</li>
    <li>Données d'hébergeur;</li>
    <li>Cookies : Des cookies sont utilisés dans un objectif d'amélioration de la plateforme.</li>
  </ol>
  <p class="paragraphe">Les données relatives à l'établissement ainsi que les données facultatives relatives à l'index parité sont conservées jusqu'à la fin de fonctionnement du Service, notamment pour répondre aux besoins statistiques.</p>
  <p class="paragraphe">Le ministère de la Culture s'engage à prendre toutes précautions utiles pour préserver la sécurité des données collectées auprès de l'usager, et notamment empêcher qu'elles soient déformées et endommagées ou que des tiers non autorisés y aient accès.</p>
  <p class="paragraphe">Le ministère de la Culture garantit aux usagers du Service les droits d'accès, de rectification et d'opposition sur leurs données à caractère personnel, prévus par la loi n° 78-17 du 6 janvier 1978 relative à l'informatique aux fichiers et aux libertés.</p>
  <p class="paragrpahe">Pour plus d'informations sur le traitement des données à caractère personnel l'utilisateur est invité à se référer à la politique de confidentialité.</p>
  <p class="subtitle">6 - Statistiques</p>
  <p class="paragraphe">Les données récoltées dans le cadre du téléservice servent au pilotage de la politique publique.</p>
  <p class="paragraphe">Conformément aux dispositions des articles L. 230-5-1 et R. 230-30-4 du Code rural, les données recueillies par l'intermédiaire de la plateforme permettent de réaliser un bilan de la mise en œuvre du dispositif qui est adressé notamment au Parlement.</p>
  <p class="paragraphe">En outre, conformément aux dispositions du Livre III du Code des relations entre le public et l'administration, la plateforme diffuse des informations publiques relatives aux données collectées et au suivi de l'usage de la plateforme.</p>
  <p class="subtitle">7 - Engagements et responsabilité</p>
  <p class="paragraphe">Le présent Service est mis en œuvre selon les dispositions du code des relations entre le public et l'administration (CRPA).</p>
  <p class="paragraphe">Le Service a été développé sous licence MIT , le code est disponible à l'adresse suivante : <a href="https://github.com/betagouv/ellesfontlaphoto/">https://github.com/betagouv/ellesfontlaphoto/</a></p>
  <p class="paragraphe">Le Service est mis à disposition sans autres garanties expresses ou tacites que celles qui sont prévues par les présentes.</p>
  <p class="paragraphe">Le Service est développé conformément à l'état de l'art. Toutefois, il n'est pas garanti qu'il soit exempt d'anomalies ou d'erreurs. Le service est donc mis à disposition sans garantie sur sa disponibilité et ses performances. A ce titre, le ministère de la Culture ne peut être tenu responsable des pertes et/ou préjudices, de quelque nature qu'ils soient, qui pourraient être causés à la suite d'un dysfonctionnement ou une indisponibilité du service. De telles situations n'ouvriront droit à aucune compensation financière.</p>
  <p class="paragraphe">L'utilisateur s'engage à respecter les présentes CGU et la législation en vigueur. Il s'engage notamment à ne fournir, dans le cadre de l'utilisation du Service, que des informations exactes, à jour et complètes.</p>
  <p class="paragraphe">Dans l'hypothèse où l'usager ne s'acquitte pas de ses engagements, le ministère de la Culture se réserve le droit de suspendre ou résilier le service pour cet usager sans préjudice des éventuelles actions en responsabilité pénale et civile qui pourraient être engagées à son encontre.</p>
  <p class="subtitle">8 - Modification et évolution du Service</p>
  <p class="paragraphe">Les termes des présentes conditions d'utilisation peuvent être modifiés ou complétés à tout moment, sans préavis, en fonction des modifications apportées au Service, de l'évolution de la législation ou pour tout autre motif jugé nécessaire. Ces modifications et mises à jour s'imposent à l'utilisateur qui doit, en conséquence, se référer régulièrement à cette rubrique pour vérifier les conditions générales en vigueur.</p>
  <p class="subtitle">9. Propriété intellectuelle et réutilisation</p>
  <p class="paragraphe-bold">9.1 Structure générale du site internet</p>
  <p class="paragraphe">La structure générale du site internet est la propriété exclusive du ministère de la Culture. Elle est mise à disposition selon les termes de la licence CC-BY-SA 3.0 FR</p>
  <p class="paragraphe-bold">9.2 Marques</p>
  <p class="paragraphe">Les marques du ministère de la Culture et de ses partenaires ainsi que les logos figurant sur le site sont des marques déposées et enregistrées auprès de l'INPI et sont, à ce titre, protégés par un droit de propriété industrielle.Toute reproduction totale ou partielle de ces marques ou de ces logos effectuée à partir des éléments du site sans l'autorisation expresse de l'administration est donc strictement interdite et constitue un délit de contrefaçon au sens du code de la propriété intellectuelle.</p>
  <p class="paragraphe-bold">9.3 Contenus et données publiques culturels</p>
  <p class="paragraphe" style="text-decoration:underline;">9.3.1 Contenus et données culturels produits par le ministère de la Culture</p>
  <p class="paragraphe" style="text-decoration:underline;">a) Texte</p>
  <p class="paragraphe">Les textes disponibles sur le site internet sont des contenus scientifiques, culturels et pédagogiques élaborés par le ministère de la Culture. Ils sont mis à disposition selon les termes de la licence CC-BY-SA 3.0 FR</p>
  <p class="paragraphe" style="text-decoration:underline;">b) Images / Hyperimages</p>
  <p class="paragraphe">Les images et hyperimages comprennent les photographies, captures écran et illustrations. Sous réserve des droits de propriété intellectuelle de tiers, les images et hyperimages qui sont la propriété exclusive du ministère de la Culture sont mises à disposition selon les termes de la licence CC-BY-SA 3.0 FR. Les images qui sont entrées dans le domaine public sont indiquées comme telles par l'apposition de la marque du domaine public. Pour les hyperimages associant un lien hypertexte, se reporter à l'article 4.4.</p>
  <p class="paragraphe" style="text-decoration:underline;">c) Multimédias</p>
  <p class="paragraphe">Les contenus de la rubrique Documentation sont la propriété exclusive du ministère de la Culture. À ce titre, toute reproduction, toute représentation totale ou partielle, toute utilisation, toute adaptation, toute mise à disposition ou modification de ces données et contenus, par quelque procédé que ce soit, par quelque personne que ce soit et par quelque moyen que ce soit, sans l'autorisation expresse du ministère de la Culture, des éventuels auteurs ou leurs ayants-droits, est strictement interdite et constitue un délit de contrefaçon au sens du code de la propriété intellectuelle. Seule une utilisation à des fins strictement personnelles ou à des fins pédagogiques est permise, sous réserve d'avoir obtenu une autorisation expresse préalable du ministère de la Culture.</p>
  <p class="paragraphe" style="text-decoration:underline;">d) Métadonnées</p>
  <p class="paragraphe">Les métadonnées comprennent les notices, notices abrégées ainsi que les thesaurus disponibles sur le site internet. Elles sont mises à disposition selon les termes de la licence ouverte.</p>
  <p class="paragraphe" style="text-decoration:underline;">e) Autres données publiques (statistiques, économiques, etc.)</p>
  <p class="paragraphe">Les données publiques détenues ou produites par le ministère de la Culture non visés aux articles précédents sont mis à disposition par défaut selon les termes de la licence ouverte.Créditer les contenus et données publiques culturelles du site internet sous licence ouverte : L'utilisateur qui souhaite réutiliser les contenus et données ainsi mises à disposition doit impérativement indiquer : le titre associé au contenu ou à la donnée ;le nom de l'auteur ;le nom et un lien vers la source (lorsque le nom de l'auteur est indisponible, le nom et le lien vers la source suffisent) ;l'indication de la licence sous laquelle le contenu ou la donnée a été mis à disposition.</p>
  <p class="paragraphe" style="text-decoration:underline;">9.3.2 Contenus et données culturels produits par les partenaires du ministère de la Culture et recensés sur le site internet</p>
  <p class="paragraphe">Les conditions générales d'utilisation des partenaires s'appliquent à l'ensemble des contenus et données culturels qu'ils produisent ou détiennent et qui sont accessibles sur les Sites Internet du ministère.</p>
  <p class="paragraphe-bold">9.4 Liens hypertextes</p>
  <p class="paragraphe">Les Sites Internet du ministère peuvent fournir des liens hypertextes profonds pointant vers des sites Internet édités par des tiers et des références à d'autres sites Internet. Ces liens ou références ne constituent ni une approbation ni une validation de leurs contenus. L'Éditeur des Sites Internet du ministère ne pourra en aucun cas être tenu responsable de la teneur desdits sites, et ne sera tenu responsable d'aucun dommage ou préjudice en découlant. Le fait de proposer des hyperliens profonds vers d'autres sites fournis aux utilisateurs uniquement par pure commodité n'engendre à ce titre aucune obligation de quelque nature que ce soit à la charge de l'Éditeur des Sites internet du ministère qui ne dispose d'aucun moyen de contrôle et de surveillance du site référencé ainsi que de ses évolutions et mises à jour. La création de liens hypertextes en direction des Sites Internet du ministère est libre à la condition qu'elle ne porte pas atteinte aux intérêts matériels ou moraux du ministère de la Culture et qu'elle ne crée pas de confusion sur la source des services et/ou contenus.</p>
  <p class="subtitle">10 - Nous contacter</p>
  <ul>
    <li>Difficultés techniques : ellesfontlaculture@beta.gouv.fr</li>
    <li>Problèmes liés à la procédure : ellesfontlaculture@beta.gouv.fr</li>
    <li>Droit d'accès CNIL : ellesfontlaculture@beta.gouv.fr</li>
  </ul>
  <h2>Conditions générales d'utilisation</h2>
  <p class="paragraphe-bold">1. Avertissement</p>
  <p class="paragraphe">Les Conditions Générales d'Utilisation applicables sont celles dont la version en vigueur est accessible en ligne sur le portail à l'adresse suivante : ellesfontlaculture.beta.gouv.fr/mentions-legales et à la date de la connexion de l'utilisateur. Le ministère de la Culture audite actuellement les mentions légales de ses publications et se réserve le droit d'apporter des modifications substantielles ou non, à tout moment et sans préavis, aux présentes Conditions Générales d'Utilisation, afin de les mettre en conformité avec les préconisations du rapport sur l'ouverture et le partage des données publiques culturelles publié en janvier 2014. Par conséquent, il est recommandé aux utilisateurs de se reporter régulièrement aux présentes Conditions Générales d'Utilisation pour se tenir informé de leur évolution éventuelle. L'ensemble des fichiers permettant une réutilisation libre et gratuite des contenus et données publiques culturelles du ministère de la Culture seront à terme téléchargeables au sein d'un espace dédié sur le site internet ainsi que sur la plateforme gouvernementale data.gouv.fr.</p>
  <p class="paragraphe-bold">2. Accès aux documents administratifs et réutilisation des informations publiques</p>
  <p class="paragraphe">Aux termes des dispositions de l'article 24 de la loi n°78-753 du 17 juillet 1978 portant diverses mesures d'amélioration des relations entre l'administration et le public et diverses dispositions d'ordre administratif, social et fiscal et de l'article 42 du décret n° 2005-1755 du 30 décembre 2005 relatif à la liberté d'accès aux documents administratifs et à la réutilisation des informations publiques.</p>
</div>
