<div class="mentions_legales">
  <h1>Mentions Légales</h1>
  <h2 id="top">I. Mentions légales</h2>
  <p class="subtitle">1. Éditeur</p>
  <p class="paragraphe">Ellesfontlaculture est un service créé par <a href="https://beta.gouv.fr/startups/?incubateur=culture">Atelier numérique</a> du ministère de la culture en partenariat avec <a href="https://beta.gouv.fr/">Beta.gouv.fr</a>.</p>
  <p class="subtitle">2. Hébergement</p>
  <p class="paragraphe">Ce site est hébergé par Scalingo SAS, 15 avenue du Rhin, 67100 Strasbourg, France</p>
  <p class="subtitle">3. Directeur de publication</p>
  <p class="paragraphe">Ministère de la Culture Secrétariat général 182, rue Saint-Honoré, 75033 Paris, Cedex 01</p>
  <h2>II. Suivi d'audience et gestion des cookies</h2>
  <p class="subtitle">A quoi nous servent-ils ?</p>
  <p class="paragraphe">Le cookie est un petit fichier texte enregistré par le navigateur de votre ordinateur, tablette ou smartphone et qui permet de conserver des données utilisateur afin de faciliter la navigation et de permettre certaines fonctionnalités. Cela nous permet de mesurer le nombre de visites et de comprendre quelles sont les pages les plus consultées.</p>
  <p class="subtitle">Ce site n'affiche pas de bannière de consentement aux cookies, pourquoi ?</p>
  <p class="paragraphe">C'est vrai, vous n'avez pas eu à cliquer sur un bloc pour dire que vous êtes d'accord avec le dépôt de cookies — même si vous ne savez pas ce que ça veut dire !</p>
  <p class="paragraphe">Rien d'exceptionnel, pas de passe-droit en tant que service public. Nous respectons simplement la loi, qui dit que certains outils de suivi d'audience, correctement configurés pour respecter la vie privée, sont exemptés d'autorisation préalable.</p>
  <p class="paragraphe">Nous utilisons pour cela <a href="https://matomo.org/">Matomo</a>, un outil <a href="https://matomo.org/free-software/">libre</a> , paramétré pour être en conformité avec la <a href="https://www.cnil.fr/fr/solutions-pour-la-mesure-daudience">recommandation « Cookies »</a> de la CNIL. Cela signifie que votre adresse IP, par exemple, est anonymisée avant d'être enregistrée. Il est donc impossible d'associer vos visites sur ce site à votre personne.</p>
  <p class="subtitle">Je contribue à enrichir vos données, puis-je y accéder ?</p>
  <p class="paragraphe">Bien sûr ! Les statistiques d'usage de la majorité de nos produits, dont <a href="https://beta.gouv.fr/">beta.gouv.fr</a> , sont disponibles en accès libre sur <a href="https://stats.data.gouv.fr/index.php?module=CoreHome&action=index&idSite=187&period=range&date=previous30#?period=range&date=previous30&module=VisitsSummary&action=index&idSite=187&category=Dashboard_Dashboard&subcategory=1">stats.data.gouv.fr</a>.</p>
  <h2>Contactez-nous</h2>
  <p class="paragraphe">Des questions ? Une difficulté ? Envoyez-nous un email à ellesfontlaculture@beta.gouv.fr.</p>
</div>
