<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ajout ressources</title>
    <style>
      #wrapper{width:100vw;height:95vh;}
      iframe{border-radius:0 !important;}
    </style>
  </head>
  <body>
    <div id="wrapper" data-tf-widget="JqPDBH6v" data-tf-inline-on-mobile data-tf-medium="snippet">
    </div>
    <script src="//embed.typeform.com/next/embed.js"></script>
  </body>
</html>
