<div class="div-index-helps" data-controller="show-filters">
  <div class="sub-div-index" data-show-filters-target="divSubIndex">
    <%= render "main_index_conseils", conseils: @conseils, last_date_updated: @last_date_updated %>
    <%= render "notation_catalogue_conseils" %>
  </div>
  <div class="div-filters" data-show-filters-target="divFilters">
    <%= render "filters_conseils", selectd: @selected, selected_tag: @selected_tag %>
  </div>
</div>

<%= render "shared/modales_contact" %>
