<html>

   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>

   <body>
      <h1>Il y a un nouveau contact !</h1>

      <p class="paragraphe"><b><%= @contact.contact_email %></b> nous a contacter pour <b><%= @contact.contact_type%></b><br>
      </p>

      <p class="paragraphe"> Le message est :
      </p>

      <p class="paragraphe"><b><%= @contact.comment.html_safe %></b></p>

   </body>
</html>
