<div class="validation-send-case d-flex justify-center">
  <%= image_tag "send-mail.svg", alt: "Emoji email" %>
</div>
<p class="subtitle-spectral text-align-center">Votre dossier a bien été déposé !</p>
<p class="paragraphe text-align-center">
	Consultez vos e-mails pour recevoir le dossier de votre binôme et obtenir vos retours.
</p>
