<div class="ajout-case-review-page confirm">
  <div class="ajout-aide-title">
    <p class="subtitle-spectral">Merci pour votre participation ! <span class="subtitle-regular">Votre contribution a bien été prise en compte !</span></p>
    <p class="paragraphe">Vous allez recevoir un email très bientôt.</p>
    <%= image_tag "illu-femme-stylo.png" %>
    <%= link_to "Retourner à l'accueil", root_path, class: "btn btn-black" %>
  </div>
</div>
