<div class="ajout-aide-page confirm">
  <div class="ajout-aide-title">
    <p class="subtitle-spectral">Merci votre contibution à bien été prise en compte ! <span class="subtitle-regular">Notre équipe s’assure de relire votre aide et la poster au plus vite ! </span></p>
    <p class="paragraphe">Vous recevrez un email de confirmation lorsque l'aide sera publiée. </p>
    <%= image_tag "illu-femme-argent.png" %>
    <%= link_to "Retourner à l'accueil", root_path, class: "btn-black" %>
  </div>
</div>
