<div class="div-index-helps" data-controller="show-filters">
  <div class="sub-div-index" data-show-filters-target="divSubIndex">
    <%= render "main_index_helps", helps: @helps %>
    <%= render "notation_catalogue_helps" %>
  </div>
  <div class="div-filters" data-show-filters-target="divFilters">
    <%= render "filters_helps", selected: @selected, selected_type: @selected_type %>
  </div>
</div>
