/* BODY */
html,
body {
    overflow: auto;
}

/* HEADER */
.rf-header {
    position: fixed;
    z-index: 2;
}

#header {
    padding: 0px !important;
}

/* SECTION 1 */
#talentText {
    min-width: 320px;
}

#sectionOneTitle {
    padding-top: 20px !important;
}

.sectionTitle {
    font-family: Marianne;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 120%;
    color: #1E1E1E;
    margin: 10px 24px;
}

.sectionSubTitle {
    font-family: Marianne;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 170%;
    color: rgba(103, 103, 103, 0.867527);
    margin: 10px 24px;
}

#talentImage {
    min-width: 320px;
    width: 100%;
}

#talents {
    max-width: 100%;
}

#sectionOneButton {
    margin: 10px 24px;
}

/* SECTION 2 */
#sectionTwo {
    background-color: #F8F8F8;
    text-align: center;
    padding-top: 3rem !important;
}

#sectionTwoContainer {
    margin: 0px auto;
}

#sectionTwoCardContainer {
    padding: 24px 0px !important;
}

.sectionTwoCardImage {
    width: 53px;
    height: 48px;
}

.sectionTwoCardText {
    font-family: Marianne;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    margin-top: 18px;
    color: rgba(103, 103, 103, 0.867527);
    max-width: 300px;
    margin: auto;
}

/* MODAL */
#rf-modal-title-modal-1 {
    font-family: Marianne;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

#modalText {
    font-size: 12px;
    text-align: left;
}

/* SECTION 3 */
#sectionThree {
    text-align: center;
    padding-top: 3rem !important;
}

#sectionThreeContainer {
    margin: 0px auto;
}

.sectionThreeNumber {
    color: white;
    font-size: 20px;
    margin: 0px auto;
    background-color: #000091;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    text-align: center;
}

.sectionThreeCardImage {
    padding: 10px;
    width: 96px;
    height: 80px;
}

.rf-text--sm {
    margin: 0;
}

.sectionThreeCardImageText {
    font-family: Marianne;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    margin-bottom: 0px !important;
}

/* SECTION 4 */
#sectionFour {
    background-color: #F8F8F8;
}

.sectionFourCardText {
    background-color: white;
    border-left: 3px solid #000091;
    margin: 0;
    padding: 10px;
    text-align: left;
}

.sectionFourCardTitle {
    font-family: Marianne;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #1E1E1E;
    margin-bottom: 20px;
}

.sectionFourCardRole {
    font-style: italic;
    font-weight: lighter;
}

.sectionFourCardSubTitle {
    font-family: Marianne;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #383838;
}

/* SECTION 5 */
#sectionFive {
    text-align: center;
}

.partners {
    width: 100%;
}

/* FAQ */
.rf-accordion-group li:before {
    content: none;
}

.rf-accordion-group li {
    padding-bottom: 0 !important;
}

#others {
    margin-top: 16px;
}

#accessibilite,
#securite {
    margin-top: 20px;
}

/* MEDIA QUERY */
@media all and (max-device-width: 480px) {
    #sectionOneTitle,
    #legalNoticeText,
    #cookieManagementText,
    #faqText {
        padding-top: 100px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #sectionOneTitle,
    #legalNoticeText,
    #cookieManagementText,
    #faqText {
        padding-top: 50px !important;
    }
    
  }

.liste-desavantages {
  font-size: 12px;
  padding: 0;
}
