@import "../config/colors";
@import "../config/fonts";

.banner-yellow {
  background-color: $yellow;
  text-align: center;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: $black !important;
    margin: 0;
  }
  p,b {
    font-size: 0.9rem;
    margin-bottom: 0;
  }
}


@media only screen and (max-width: 750px) {
  .banner-yellow a {
      text-align: center !important;
  }
}
