.div-filters {
  .sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    padding: 40px 0;
    top: 40px;
    .cross {
      display: none
    }
    .button-criteria-helps {
      margin: 20px;
      .button-criteria-helps-elements {
        background-color: $white;
        border-radius: 40px;
        border: 1px solid $black;
        padding: 4px 12px 7px 12px;
        font-family: 'Marianne-Regular', sans-serif;
        font-size: 14px;
        cursor: pointer;
        margin: 5px 0px;
        position: relative;
        display: inline-block;
        &:hover {
          border: 1px solid $filter-purple;
        }
        .cross-criteria-helps {
          display: none;
        }
        .cross-criteria-helps.display-inline {
          display: inline;
          position: absolute;
          right: 3%;
          top: 11%;
        }
      }
    }
    .filter-switch {
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        margin-left: 15px;
      }
    }

    select {
      margin: 10px 46px !important;
      height: 40px;
      width: 227px;
      border-radius: 40px;
      font-family: 'Marianne-Regular', sans-serif;
      color: $grey-input;
      padding: 0px 10px;
      &:focus {
        outline: none;
        border: 2px solid $filter-purple;
        color: $black;
      }
    }


    .button-criteria-helps-elements.selected {
      border: 2px solid $filter-purple;
      padding-right: 16px;
    }

    .line-filter {
      border-top: 0.1px solid #DEDEDE;
      margin: 5% 0 5% 0;
    }
  }
}


@media only screen and (max-width: 1250px) {
  .div-filters {
    display: none;
    .cross {
      display: block !important;
      cursor: pointer;
      position: absolute;
      right: 30px;
      top: -3px;
      font-size: 20px;
    }
  }

  .div-filters.show {
    display: block;
    position: absolute;
    right: 0;
    z-index: 1;
    max-width: 50%;
    .sticky {
      select {
        display: flex;
        justify-content: center;
        margin: 0 auto !important;
      }
      .button-criteria-helps {
        span {
          margin: 10px auto;
          display: table;
        }
      }
    }
  }
}

@media only screen and (max-width: 820px) {

}

@media only screen and (max-width: 550px) {
  .div-filters.show {
    min-width: 100%;
  }

}
