.div-banner.div-banner-help {
  background-color: $purple;
}

.div-banner.div-banner-conseil {
  background-color: $rouille;
}

.div-banner.div-banner-conseil.div-banner-conseil-video {
  position: relative;
}

.div-banner {
  padding-top: 2.5rem;
  .flex-div-left {
    align-items: center;
    padding-left: 5%;
    align-items: center;
    .mr20 {
      display: flex;
      justify-content: center;
    }
    p {
      margin-bottom: 0;
    }
    a {
      color: $black !important;
    }
  }
  .banner-show {
    display: flex;
    justify-content: space-around;
    padding: 15px 3em 0 3em;
    .hl-mobile {
      display: none;
    }
    .subtitle-protagoniste {
      margin-top: 20px;
      color: $black;
      font-family: 'Spectral', serif;
      font-style: italic;
      font-weight: normal;
      font-size: 46px;
      line-height: 50px;
    }
  }

  .banner-show.banner-show-video {
    padding-bottom: 10em;
  }
  .fiche-tag {
    font-family: 'Marianne-Regular', sans-serif;
    background-color: $white;
    display: table !important;
    padding: 5px 17px;
    border-radius: 50px;
    font-size: 1rem;
    margin-right: 10px;
    &:hover {
      opacity: 80%;
    }
  }

  .fiche-title {
    width: 45%;
    a {
      color: $black !important;
    }
  }

  .fiche-description {
    width: 35%;
    padding: 0 6% 0 2%;
    p {
      margin: 3px;
    }
  }

  .hl {
    border-top: 0.1px solid $black;
    border-style: outset;
    margin: 20px 0;
  }

  .video-tag {
    position: absolute;
    max-width: 50%;
    left: 25%;
    top: 75%;
  }

}

.arrondis.arrondis-help {
  background-color: $purple;
}

.arrondis.arrondis-conseil {
  background-color: $rouille;
}

.arrondis {
  background-color: $purple;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  width: 100%;
  height: 100px;
}

@media only screen and (max-width: 1250px) {
  .div-banner {
    .banner-show {
      justify-content: space-between;
      padding-top: 20px;
      .fiche-title {
        width: 45%;
        padding: 0 2%;
        h2 {
          font-size: 40px;
          letter-spacing: 2px;
          padding-bottom: 20px;
        }
        .fiche-tag {
          margin: 5px auto;
        }
      }
      .fiche-description {
        width: 45%;
        .paragraphe {
          margin-bottom: 5px;
        }
      }
    }
    video {
      position: absolute;
      min-width: 70%;
      left: 15% !important;
    }
  }
}

@media only screen and (max-width: 750px) {
  .div-banner {
    h2 {
      line-height: 50px;
      padding: 0;
    }
    .flex-div-left {
      display: block;
      a {
        .fiche-tag {
          margin-bottom: 10px;
        }
      }
      .mr20 img {
        margin-bottom: 20px;
      }
    }
    .banner-show.banner-show-video {
      padding-bottom: 3em;
    }
    .banner-show {
      padding: 1em 2em 1em 2em;
      display: block;
      .fiche-title {
        min-width: 100%;
      }
      .fiche-description {
        min-width: 100%;
        p {
          white-space: normal;
        }
      }
      .subtitle-protagoniste {
        margin-top: 0;
        margin-bottom: 30px;
      }
    }
    video {
      top: 100% !important;
    }
  }
}
