.banner-info {
  text-align: center;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: $black !important;
    margin: 0;
    font-size: 16px;
  }
  p,b {
    font-size: 16px;
    margin: 0;
  }
}
.banner-yellow {
  background-color: $yellow;
}


@media only screen and (max-width: 750px) {
  .banner-yellow a {
      text-align: center !important;
  }
  .banner-green a {
      text-align: center !important;
  }
}
