.div-filters {
  .sticky {
    padding-top: 40px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    padding: 40px 0;
    top: 0;
    .cross {
      display: none
    }
    .button-criteria-helps {
      background-color: $white;
      border-radius: 40px;
      border: 1px solid $black;
      display: table !important;
      padding: 4px 12px 7px 12px;
      font-family: 'Marianne-Regular', sans-serif;
      font-size: 14px;
      display: flex;
      cursor: pointer;
      margin: 10px auto;
      position: relative;
      &:hover {
        border: 1px solid $filter-purple;
      }
      .cross-criteria-helps {
        display: none;
      }
      .cross-criteria-helps.display-inline {
        display: inline;
        position: absolute;
        right: 4%;
        top: 11%;
      }
    }
    select {
      margin: 10px 46px !important;
      height: 40px;
      width: 227px;
      &:focus {
        outline: none;
        border: 2px solid $filter-purple;
      }
      &:after {
        position: absolute;
        right: 13px;
      }
    }


    .button-criteria-helps.selected {
      border: 2px solid $filter-purple;
      padding-right: 24px;
    }

    .line-filter {
      border-top: 0.1px solid #DEDEDE;
      margin: 10% 0 10% 0;
    }
  }
}


@media only screen and (max-width: 1250px) {
  .div-filters {
    display: none;
    .cross {
      display: block !important;
      cursor: pointer;
      position: absolute;
      right: 30px;
      top: -3px;
      font-size: 20px;
    }
  }

  .div-filters.show {
    display: block;
    position: absolute;
    right: 0;
    z-index: 1;
  }
}

@media only screen and (max-width: 820px) {

}

@media only screen and (max-width: 550px) {

}
