.cards {
  width: 100%;
  .card-index-conseils-articles {
    background-color: white;
    height: auto;
    position: relative;
    border-radius: 2%;
    border: solid 1px $rouille;
    &:hover {
      background-color: $hover-pink;
    }
    .card-index-conseils-articles-div {
      padding: 4% 5% 10% 5%;
      .main-bold-paragraphe {
        text-align: left;
      }

      a{
        color: $black;
      }
      .arrow {
        margin-bottom:0;
        margin-top: 15%;
      }
    }
  }
}
@media only screen and (max-width: 1250px) {
  .cards .card-index a {
    .paragraphe {
      text-align: left;
    }
    .arrow {
      margin-top: 7%;
    }
  }
}
