.cards {
  width: 100%;
  .card-index-conseils-videos {
    background-color: white;
    height: auto;
    position: relative;
    border: 1px solid $rouille;
    border-radius: 2%;
    &:hover {
      background-color: $hover-purple;
    }
    a {
      color: $black;
      div {
        .image-conseil {
          height: 200px;
          height: 200px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .card-index-conseils-videos-div {
      .main-bold-paragraphe {
        text-align: left;
      }

      .arrow {
        margin-bottom:0;
        margin-top: 15%;
      }
      .cards-videos-info {
        padding: 5% 3%;
        .cards-tags {
          font-family: 'Marianne-Regular_Italic', sans-serif;
          font-size: 14px;
          color: $black !important;
        }
      }
      .flottante-play {
        top: 185px;
        right: 13px;
        position: absolute;
        img {
          height: 30px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1250px) {
  .cards .card-index a {
    .paragraphe {
      text-align: left;
    }
    .arrow {
      margin-top: 7%;
    }
  }
}
