.cards {
  width: 100%;
  .card-index-helps {
    background-color: white;
    margin-bottom: 20px;
    border-radius: 16px;
    border: 1px solid $purple;
    position: relative;
    height: intrinsic;           /* Safari/WebKit uses a non-standard name */
    height: -moz-max-content;    /* Firefox/Gecko */
    height: -webkit-max-content;
    &:hover {
      box-shadow: 0 0 6px rgba(1,1,1,0.5);
    }
    .flottante-div {
      display: flex;
      position: absolute;
      top: -15px;
      .flottante {
        color: $black !important;
        border: 1px solid $purple;
        border-radius: 40px;
        display: table !important;
        padding: 4px 12px 8px 12px;
        background-color: white;
        font-family: 'Marianne-Regular', sans-serif;
        font-size: 14px;
        white-space: nowrap;
      }
      .flottante-orange {
        background-color: $orange !important;
        border: none;
      }
      .flottante-ouverte {
        background-color: $purple;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }
    }
    .image-card-helps {
      border-top-right-radius: 16px;
      border-top-left-radius: 16px;
      width: 100%;
    }
    .sub-card-index-helps {
      padding: 12% 10% 10% 10%;
      .main-bold-paragraphe {
        text-align: left;
      }

      ul {
        margin-top: 0;
        font-size: 14px;
        line-height: 18px;
      }

      .paragrahe-gains {
        p {
          margin: 0;
        }
      }
      a{
        color: $black !important;
      }
      .arrow {
        margin-bottom:0;
        margin-top: 15%;
      }
    }
  }
  .card-index-helps.border-orange {
    border: 1px solid $orange;
  }
}

@media only screen and (max-width: 1250px) {
  .cards .card-index a {
    .paragraphe {
      text-align: left;
    }
    .arrow {
      margin-top: 7%;
    }
  }
}

@media only screen and (max-width: 750px) {
  .card-index-helps {
    padding: 8% 5% 5% 5% !important;
    a {
      .paragraphe {
        padding-bottom: 0;
        margin-top: 0px;
      }
      .main-bold-paragraphe {
        padding-bottom:0;
        margin-top: 20px;
        margin-bottom: 30px !important;
        text-align: left !important;
      }
      .arrow {
        margin-top: 8% !important;
      }
    }
  }
}
