.cards {
  width: 100%;
  .card-index-conseils-videos {
    background-color: white;
    height: auto;
    position: relative;
    border: 1px solid $orange;
    border-radius: 16px;
    &:hover {
      box-shadow: 0 0 6px rgba(1, 1, 1, 0.5);
    }

    .flottante-div {
      display: flex;
      position: absolute;
      top: -15px;
      left: 10%;
      .flottante {
        color: $black !important;
        border-radius: 40px;
        display: table !important;
        padding: 4px 12px 8px 12px;
        background-color: white;
        font-family: 'Marianne-Regular', sans-serif;
        font-size: 14px;
        white-space: nowrap;
      }

      .flottante-orange {
        background-color: $orange !important;
      }
    }

    a {
      color: $black;
      div {
        position: relative;
        .image-conseil {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          margin: 20px auto;
          object-fit: cover;
        }
        .flottante-play {
          bottom: -20px;
          right: 45%;
          position: absolute;

          img {
            height: 40px;
          }
        }
      }
    }
    .card-index-conseils-videos-div {
      .main-bold-paragraphe {
        text-align: left;
      }
      .cards-videos-info {
        padding: 5% 7%;
        .cards-tags {
          font-family: 'Marianne-Regular_Italic', sans-serif;
          font-size: 14px;
          color: $black !important;
          text-align: center;
        }
        .main-bold-paragraphe {
          text-align: center;
        }
      }
    }
  }
}
@media only screen and (max-width: 1250px) {
  .cards .card-index a {
    .paragraphe {
      text-align: left;
    }
    .arrow {
      margin-top: 7%;
    }
  }
}
