.cards {
  width: 100%;
  .card-index-helps {
    background-color: white;
    margin-bottom: 20px;
    border-radius: 2%;
    border: 1px solid $purple;
    height: auto;
    padding: 13% 5% 10% 5%;
    position: relative;
    .main-bold-paragraphe {
      text-align: left;
    }

    .paragrahe-gains {
      p {
        margin: 0;
      }
    }

    &:hover {
      box-shadow: 0 0 6px rgba(1,1,1,0.5);
    }
    a{
      color: $black !important;
    }
    .arrow {
      margin-bottom:0;
      margin-top: 15%;
    }
    .flottante-div {
        display: flex;
        position: absolute;
        top: -15px;
      .flottante {
        color: $black !important;
        border: 1px solid $purple;
        border-radius: 40px;
        display: table !important;
        padding: 5px 10px 5px;
        background-color: white;
        font-family: 'Marianne-Regular', sans-serif;
        font-size: 14px;
        white-space: nowrap;
      }
      .flottante-pink {
        background-color: $background-pink !important;
        border: none;
      }
    }
  }
}

@media only screen and (max-width: 1250px) {
  .cards .card-index a {
    .paragraphe {
      text-align: left;
    }
    .arrow {
      margin-top: 7%;
    }
  }
}

@media only screen and (max-width: 750px) {
  .card-index-helps {
    padding: 8% 5% 5% 5% !important;
    a {
      .paragraphe {
        padding-bottom: 0;
        margin-top: 0px;
      }
      .main-bold-paragraphe {
        padding-bottom:0;
        margin-top: 20px;
        margin-bottom: 30px !important;
        text-align: left !important;
      }
      .arrow {
        margin-top: 8% !important;
      }
    }
  }
}
