.organization-no-result {
  .no-result {
    color: $purple-index;
    font-family: 'Spectral', serif;
    font-size: 47px;
    text-align: center;
    margin: 5% auto 0 auto;
  }
  .btn-purple-index {
    background-color: $purple-index;
    color: $black !important;
    margin: 2% auto 0 auto;
  }
}

#flexible {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-flow: column wrap;
}

.box {
  width: 100%;
  min-height: 24.5em;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  display: inline-block;
  .box-in {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    position: absolute;
    transition: all .8s;
    background-color: transparent;
    .flip-card-front {
      height: 24.5em;
      width: 100%;
      display: flex;
      flex-flow: column wrap;
      .card-organization-name {
        padding: 7% 7% 5% 7%;
        .paragraphe-bold {
          font-size: 22px;
          margin-bottom: 0;
          text-align: center;
          height: auto;
          overflow: hidden;
          display: -webkit-box;
          line-height: 30px;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;

          .paragraphe {
            font-size: 22px;
          }
        }

        .flex-div {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 25px 0;
          min-height: 50px;

          img {
            max-height: 50px;
            max-width: 120px;
          }
        }
      }

      .card-organization-numbers {
        text-align: center;
        padding: 5% 0 15px 0;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        bottom: 0;
        width: 100%;
        hr {
          margin: 13px 0;
          color: $black;
        }
        mark {
          font-family: 'Marianne-Medium';
          font-size: 16px;
          line-height: 140%;
          height: 1.15em;
          background-color: transparent;
        }
        .purple {
          padding: 0;
          background-color: $purple-index;
          background: linear-gradient(to top, $purple-index 75%, transparent 50%);
        }
        .orange {
          padding: 0;
          background: linear-gradient(to top, $orange-index 75%, transparent 50%);
        }
        .paragraphe-grey {
          color: #757575;
          margin: 0;
        }
      }
    }

    .flip-card-back {
      background: $dark-grey;
      top: 0;
      bottom: 0;
      height: 100%;
      border-radius: 16px;
      padding: 10px 20px 20px 20px;

      .div-cross {
        display: flex;
        justify-content: flex-end;

        .cross {
          color: $white;
          font-size: 30px;
          margin-right: 10px;

          &:hover {
            color: #D9D9D9;
          }
        }
      }

      .div-ensavoirplus {
        margin-top: 15%;

        .btn-white {
          padding: 6px 15px;
          margin: 20px auto 5px auto;
          font-size: 14px;
        }

        .main-paragraphe {
          color: $white;
          font-size: 22px;
          margin-bottom: 3px;
          line-height: 34px;
        }

        .main-paragraphe.light {
          opacity: 0.6;
          margin-top: 0;
        }
      }
    }
  }
  .box-front {
    background-color: white;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    &:hover {
      opacity: 60%;
    }

    &:active {
      opacity: 1;
    }
  }

  .box-back {
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    line-height: 30px;
  }

  .box-front.is-flipped {
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .box-back.is-flipped {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@media only screen and (max-width: 750px) {
  .box {
    min-height: 20em;
    .box-in {
      .flip-card-front {
        height: 20em;
        .card-organization-name {
          max-width: 100%;
          .paragraphe-bold {
            font-size: 16px;
            line-height: 20px;
            padding-bottom: 3px;
            .organization-name {
              // display: inline-block;
              max-width: 150px;
              overflow: hidden !important;
              text-overflow: ellipsis;
            }
            .paragraphe {
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
      }
      .card-organization-numbers {
        padding: 10px 0;
        font-size: 14px;
        mark,.paragraphe-grey {
          font-size: 14px;
        }
      }
      .flip-card-back {
        padding: 10px;
        .div-cross.cross {
          margin-bottom: 0;
        }
        .div-ensavoirplus {
          .main-paragraphe {
            font-size: 16px;
            line-height: 26px;
          }
          .btn-white {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1950px) {
  .box {
    min-height: 26em;
    .box-in {
      .flip-card-front {
        height: 26em;
      }
    }
  }
}
