.cards {
  width: 100%;
  .card-index-conseils-articles {
    background-color: white;
    height: auto;
    position: relative;
    border-radius: 16px;
    border: solid 1px $orange;
    position: relative;
    &:hover {
      box-shadow: 0 0 6px rgba(1, 1, 1, 0.5);
    }
    .card-index-conseils-articles-div {
      padding: 6% 5% 10% 5%;
      .paragraphe,.main-bold-paragraphe {
        text-align: center;
      }

      a{
        color: $black;
      }
    }
    .flottante-div {
      display: flex;
      position: absolute;
      top: -15px;

      .flottante {
        color: $black !important;
        border-radius: 40px;
        display: table !important;
        padding: 4px 12px 8px 12px;
        background-color: white;
        font-family: 'Marianne-Regular', sans-serif;
        font-size: 14px;
        white-space: nowrap;
      }

      .flottante-orange {
        background-color: $orange !important;
      }
    }
  }
}
@media only screen and (max-width: 1250px) {
  .cards .card-index a {
    .paragraphe {
      text-align: left;
    }
    .arrow {
      margin-top: 7%;
    }
  }
}
