@import "../config/colors";
@import "../config/fonts";

.cards {
  width: 100%;
  .card-index-conseils-articles {
    background-color: white;
    margin-bottom: 20px;
    border-radius: 2%;
    height: auto;
    position: relative;
    border-radius: 2%;
    border: solid 1px $rouille;
    .card-index-conseils-articles-div {
      padding: 13% 5% 10% 5%;
      .main-bold-paragraphe {
        text-align: left;
      }

      &:hover {
        box-shadow: 0 0 6px rgba(1,1,1,0.5);
      }
      a{
        color: $black;
      }
      .arrow {
        margin-bottom:0;
        margin-top: 15%;
      }
      .flottante-div {
          display: flex;
          position: absolute;
          top: -15px;
        .flottante {
          border: 1px solid $rouille;
          border-radius: 40px;
          display: table !important;
          padding: 3px 10px 0px;
          background-color: white;
          font-family: 'Marianne-Regular', sans-serif;
          font-size: 1.3rem;
          margin-right: 7px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1250px) {
  .cards .card-index a {
    .paragraphe {
      text-align: left;
    }
    .arrow {
      margin-top: 7%;
    }
  }
}
