.box {
  width: 100%;
  min-height: 28.2em;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  display: inline-block;
  .box-in {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    position: absolute;
    transition: all .8s;
    background-color: transparent;
    .flip-card-front {
      .card-organization-name {
        min-height: 230px;
        padding: 7% 7% 0 7%;

        .paragraphe-bold {
          font-size: 22px;
          margin-bottom: 0;
          text-align: center;
          height: auto;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;

          .paragraphe {
            font-size: 22px;
          }
        }

        .flex-div {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 25px 0 15px;
          min-height: 50px;

          img {
            max-height: 50px;
            max-width: 120px;
          }
        }
      }

      .weather-bubble {
        border-radius: 50%;
        width: 84px;
        height: 84px;
        margin: 25px auto 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;

        .emoji-weather {
          max-height: 80%;
          max-width: 80%;
        }
      }

      .weather-bubble.rain {
        background-color: $dark-orange;
      }

      .weather-bubble.sun {
        background-color: $filter-purple;
      }

      .weather-bubble.cloud {
        background: #FFAB2D;
      }

      .card-organization-numbers {
        text-align: center;
        padding: 20px 0 24px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        position: inherit;
        bottom: 0;
        width: 100%;

        .paragraphe {
          white-space: pre-wrap;
          padding: 0;
          margin: 0;
        }

        .paragraphe-small {
          color: $grey-input;
        }

        .paragraphe-bold {
          font-size: 16px;
        }
      }

      .card-organization-numbers.rain {
        background-color: rgba(244, 88, 0, 0.4);
      }

      .card-organization-numbers.cloud {
        background-color: rgba(255, 171, 45, 0.4);
      }

      .card-organization-numbers.sun {
        background-color: rgba(107, 72, 244, 0.4);
      }
    }

    .flip-card-back {
      background: $dark-grey;
      top: 0;
      bottom: 0;
      height: 100%;
      border-radius: 16px;
      padding: 10px 20px 20px 20px;

      .div-cross {
        display: flex;
        justify-content: flex-end;

        .cross {
          color: $white;
          font-size: 30px;
          margin-right: 10px;

          &:hover {
            color: #D9D9D9;
          }
        }
      }

      .div-ensavoirplus {
        margin-top: 15%;

        .btn-white {
          padding: 6px 15px;
          margin: 20px auto 5px auto;
          font-size: 14px;
        }

        .main-paragraphe {
          color: $white;
          font-size: 22px;
          margin-bottom: 3px;
          line-height: 34px;
        }

        .main-paragraphe.light {
          opacity: 0.6;
          margin-top: 0;
        }
      }
    }
  }
  .box-front {
    background-color: white;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    &:hover {
      opacity: 60%;
    }

    &:active {
      opacity: 1;
    }
  }

  .box-back {
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    line-height: 30px;
  }

  .box-front.is-flipped {
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .box-back.is-flipped {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@media only screen and (max-width: 750px) {
  .box {
    min-height: 25.5em;
    .box-in {
      height: auto;
      .flip-card-front {
        margin: 15px auto 0;
        min-height: 24.5em;
        .card-organization-name {
          min-height: 180px;
          padding: 0;
          .paragraphe-bold {
            text-overflow: ellipsis;
            display: inline-block;
            width: 100%;
            max-height: 122px;
            font-size: 16px;
            line-height: 20px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            .paragraphe {
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
        .weather-bubble {
          width: 74px;
          height: 74px;
          margin: 5px auto 20px;
        }
      }
      .flip-card-back {
        padding: 12px 10px;
        min-height: 25.5em;
        .div-ensavoirplus {
          .main-paragraphe {
            font-size: 18px;
            line-height: 30px;
          }
          .btn-white {
            font-size: 14px;
          }
        }
      }
      .flip-card-front .card-organization-numbers .paragraphe-small {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .box {
    min-height: 26.2em;
    .box-in {
      .flip-card-front div {
        min-height: 25.4em;
        .card-organization-numbers {
          font-size: 14px;
          .paragraphe-bold {
            font-size: 14px;
          }
        }
      }
      .flip-card-back {
        min-height: 25.4em;
      }
    }
  }
}
