.box {
  width: 100%;
  min-height: 30em;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  display: inline-block;
  .box-in {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    position: absolute;
    transition: all .8s;
    background-color: transparent;
    .flip-card-front {
      .card-organization-name {
        min-height: 200px;
        padding: 5% 7% 0 7%;

        .paragraphe-bold {
          font-size: 22px;
          margin-bottom: 0;
          text-align: center;
          height: auto;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;

          .paragraphe {
            font-size: 22px;
          }
        }

        .flex-div {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 25px 0;
          min-height: 50px;

          img {
            max-height: 50px;
            max-width: 120px;
          }
        }
      }

      .card-organization-numbers {
        text-align: center;
        padding: 20px 0;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        position: inherit;
        bottom: 0;
        width: 100%;
        mark {
          font-family: 'Marianne-Medium';
          font-size: 16px;
          line-height: 140%;
          height: 1.15em;
        }
        .purple {
          padding: 0;
          background-color: $purple-index;
          background: linear-gradient(to top, $purple-index 80%, transparent 50%);
        }
        .orange {
          padding: 0;
          background: linear-gradient(to top, $orange-index 80%, transparent 50%);
        }
        .paragraphe-grey {
          color: #757575;
        }
      }
    }

    .flip-card-back {
      background: $dark-grey;
      top: 0;
      bottom: 0;
      height: 100%;
      border-radius: 16px;
      padding: 10px 20px 20px 20px;

      .div-cross {
        display: flex;
        justify-content: flex-end;

        .cross {
          color: $white;
          font-size: 30px;
          margin-right: 10px;

          &:hover {
            color: #D9D9D9;
          }
        }
      }

      .div-ensavoirplus {
        margin-top: 15%;

        .btn-white {
          padding: 6px 15px;
          margin: 20px auto 5px auto;
          font-size: 14px;
        }

        .main-paragraphe {
          color: $white;
          font-size: 22px;
          margin-bottom: 3px;
          line-height: 34px;
        }

        .main-paragraphe.light {
          opacity: 0.6;
          margin-top: 0;
        }
      }
    }
  }
  .box-front {
    background-color: white;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    &:hover {
      opacity: 60%;
    }

    &:active {
      opacity: 1;
    }
  }

  .box-back {
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    line-height: 30px;
  }

  .box-front.is-flipped {
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .box-back.is-flipped {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@media only screen and (max-width: 750px) {
  .box {
    min-height: 26.5em;
    .box-in {
      height: auto;
      .flip-card-front {
        margin: 15px auto 0;
        min-height: 24.5em;
        .card-organization-name {
          min-height: 180px;
          padding: 0;
          .paragraphe-bold {
            text-overflow: ellipsis;
            display: inline-block;
            width: 80%;
            max-height: 122px;
            font-size: 16px;
            line-height: 20px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            margin: 0 auto;
            .paragraphe {
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
      }
      .flip-card-back {
        padding: 12px 10px;
        min-height: 25.5em;
        .div-ensavoirplus {
          .main-paragraphe {
            font-size: 18px;
            line-height: 30px;
          }
          .btn-white {
            font-size: 14px;
          }
        }
      }
      .flip-card-front .card-organization-numbers .paragraphe-small {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  .box {
    min-height: 23.5em;
    .box-in {
      .flip-card-front {
        min-height: 21.7em;
        .card-organization-name {
          min-height: 150px;
          .paragraphe-bold {
            max-width: 90%;
          }
        }
        .card-organization-numbers {
          font-size: 12px;
          .paragraphe-bold {
            font-size: 12px;
          }
        }
      }
      .flip-card-back {
        min-height: 22.5em;
      }
    }
  }
}
