#check01, ul.submenu {
  display: none;
  margin-bottom: 10px;
}

.dropdown-label {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

#check01:checked~ul.submenu {
  display: block;
}

.moins,.plus {
  display: none;
  margin-left: 10px;
}

.display {
  display: block;
}

