.form-review {
  background-color: $purple-comment;
  padding: 46px 72px;
  border-radius: 4px;
  height: fit-content;
  .review-button {
    border-radius: 40px;
    border: none;
    padding: 12px 25px;
    font-family: 'Marianne-Regular', sans-serif;
    background-color: $purple-blue;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    color: $white;
    font-size: 16px;
    text-decoration: none;
    margin-top: 12px;
    cursor: pointer;
    -webkit-appearance: none;
    &:hover {
      background-color: $hover-blue-purple;
    }
  }
  .review_comment {
    .text {
      border: none;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
      border-radius: 0px 24px 24px 24px;
      font-family: 'Marianne-Regular', sans-serif;
      font-size: 14px;
      line-height: 20px;
      color: $grey;
      width: 90%;
      padding: 20px 10px 0px 20px;
    }
  }
}

@media only screen and (max-width: 550px) {
  .form-review {
    position: relative;
    .review-button {
      position: block;
    }
  }
}
