.modal-content {
  form {
    width: 100%;
    margin: 0 auto;

    .input {
      text-align: left;
    }

    .input-error {
      border-color: #D52941;
    }

    .display-error {
      display: block;
      color: #D52941;
    }

    .undisplay-error {
      display: none;
    }

    label {
      font-family: "Marianne", sans-serif;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    abbr {
      display: none;
    }

    input,
    select {
      border: none;
      border-bottom: 1px solid $black;
      font-family: "Marianne", sans-serif;
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      padding: 8px 12px;
      margin-bottom: 10px;
      margin-top: 10px;
      font-size: 14px;
      line-height: 1.42857143;
      background-color: $very-light-grey;
      vertical-align: middle;
      border-radius: 0;
    }

    .checkboxes-div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;

      div {
        display: flex;
        align-items: center;

        .checkboxes {
          width: 20px;
          margin: 0;
          margin-right: 10px;
        }
      }
    }

    select {
      width: 50%;
    }

    textarea {
      border: none;
      border-bottom: 1px solid $black;
      min-height: 150px;
      font-family: "Marianne", sans-serif;
      box-sizing: border-box;
      background-color: $very-light-grey;
      width: 100%;
      padding: 8px 12px;
      font-size: 14px;
      border-radius: 0;
    }

    .btn-div {
      display: flex;
      justify-content: flex-end;

      .btn-purple {
        background-color: $purple;
        -webkit-appearance: none;
      }

      .btn-green {
        background-color: $green;
        -webkit-appearance: none;
      }

      .btn {
        margin-top: 10px;
        padding-top: 5px;
        padding-bottom: 9px;
        font-family: Marianne, sans-serif;
        font-size: 16px;
        width: 20%;
        height: 38px;
        cursor: pointer;
        background-image: none;
        border-radius: 40px;
        padding: 10px 20px;
        border: none;
        color: $black;
        text-shadow: none;
        font-weight: normal;
        -webkit-appearance: none;
      }
    }
  }
}
