.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.cards-help {
  grid-template-columns: 1fr 1fr 1fr 1fr !important;
}
// Smallest device
@media only screen and (max-width: 750px) {
  .cards {
    padding-top: 30px;
    grid-template-columns: 1fr !important;
  }
  .cards-help {
    grid-template-columns: 1fr !important;
  }
}


// Extra large devices (large desktops, 1200px and up)
@media only screen and (max-width: 1250px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .cards-help {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}
