.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media only screen and (max-width: 750px) {
  .cards {
    grid-template-columns: 1fr !important;
  }
}


// Extra large devices (large desktops, 1200px and up)
@media only screen and (max-width: 1250px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
