.loader-upload-new {
  display: none;
  position: relative;
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto 10% auto;
  }

  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 8px;
    border: 8px solid $purple;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $purple transparent transparent transparent;
  }

  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }

  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }

  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }

  .count {
    position: absolute;
    font-size: 75px;
    text-align: center;
    left: 32%;
    bottom: 39%;
    display: flex;
    flex-direction: row-reverse;
    line-height: 0px;
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .count::after {
    content: counter(count);
    animation: counter 7s linear infinite;
    counter-reset: count 0;
  }

  @keyframes counter {
    0% {
      counter-increment: count 0;
    }

    10% {
      counter-increment: count 10;
    }

    20% {
      counter-increment: count 20;
    }

    30% {
      counter-increment: count 30;
    }

    40% {
      counter-increment: count 40;
    }

    50% {
      counter-increment: count 50;
    }

    60% {
      counter-increment: count 60;
    }

    70% {
      counter-increment: count 70;
    }

    90% {
      counter-increment: count 90;
    }

    100% {
      counter-increment: count 100;
    }
  }
}
.loader-upload-edit {
  display: none;
  position: relative;
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 30px 14%;
  }

  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 8px;
    border: 3px solid $black;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $black transparent transparent transparent;
  }

  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }

  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }

  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .count::after {
    content: counter(count);
    animation: counter 7s linear infinite;
    counter-reset: count 0;
  }

  @keyframes counter {
    0% {
      counter-increment: count 0;
    }

    10% {
      counter-increment: count 10;
    }

    20% {
      counter-increment: count 20;
    }

    30% {
      counter-increment: count 30;
    }

    40% {
      counter-increment: count 40;
    }

    50% {
      counter-increment: count 50;
    }

    60% {
      counter-increment: count 60;
    }

    70% {
      counter-increment: count 70;
    }

    90% {
      counter-increment: count 90;
    }

    100% {
      counter-increment: count 100;
    }
  }
}

@media only screen and (max-width: 750px) {
  .loader-upload-new {
    .lds-ring {
        height: 270px;
        width: 270px;
    }
    .count {
      font-size: 60px;
    }
  }
}
