@import "../config/colors";
@import "../config/fonts";

/*----------------------------------------*/
/*NAVBAR*/
.header {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid rgb(235,235,235);
  z-index: 11111;
}

.header_body-row {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  .header_brand {
    max-width:20%;
    .header_logo,.logo {
      font-family: 'Marianne-Bold', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      color: $black;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .header_tools-links {
    width: 60%;
    .links-group {
      list-style-type: none;
      display:flex;
      padding:0;
      width:100%;
      justify-content: flex-start;
      li {
        margin-right: 40px;
        a .links-icones {
          font-size: 22px;
        }
      }
    }
  }

  .link-menu {
    font-family: 'Marianne-Regular', sans-serif;
    text-decoration:none;
    color: $black;
    font-size: 16px;
    line-height: 24px;
    opacity: 1;
  }
  .link-menu.helps-link-menu {
    &:hover {
      border-radius: 40px;
      display: table !important;
      padding: 0px 10px 2px;
      background-color: $hover-purple;
      opacity: 0.7;
    }
  }

  .helps-link-selected {
    border-radius: 40px;
    display: table !important;
    padding: 5px 15px 7px;
    background-color: $hover-purple;
  }

  .link-menu.conseils-link-menu {
    &:hover {
      border-radius: 40px;
      display: table !important;
      padding: 5px 15px 7px;
      background-color: $hover-pink;
    }
  }

  .link-menu.manifeste-link-menu {
    &:hover {
      border-radius: 40px;
      display: table !important;
      padding: 5px 15px 7px;
      background-color: $hover-black;
    }
  }

  .link-menu:after {
    display: none;
  }


  .menu-btn {
    display: none;
  }

  .menu-icon {
    display:none;
  }

  .menu-tel {
    display:none;
  }
}

.header-mobile {
  display: none;
}

/*----------------------------------------*/
/*RESPONSIVE*/

@media only screen and (max-width: 1250px) {

  .header {
    display: none;
  }

  .header-mobile {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    display: block;
    position: inherit;
  }

  .header-mobile ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }

  .header-mobile li {
    margin: 15px 0;
    text-align:center;
    a {
      font-family: 'Marianne-Regular', sans-serif;
      text-decoration:none;
      color: black;
      font-size: 14px;
      opacity: 0.6;
      line-height: 20px;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }

  .header-mobile .logo-mobile {
    display: block;
    float: left;
    padding: 20px;
    text-decoration: none;
    max-width: 50%;
    img {
      max-width: 100%;
    }
  }

  /* menu */

  .header-mobile .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  /* menu icon */

  .header-mobile .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }

  .header-mobile .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }

  .header-mobile .menu-icon .navicon:before,
  .header-mobile .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .header-mobile .menu-icon .navicon:before {
    top: 5px;
  }

  .header-mobile .menu-icon .navicon:after {
    top: -5px;
  }

  /* menu btn */

  .header-mobile .menu-btn {
    display: none;
  }

  .header-mobile .menu-btn:checked ~ .menu {
    max-height: 240px;
  }

  .header-mobile .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .header-mobile .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .header-mobile .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .header-mobile .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header-mobile .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
}
