/*----------------------------------------*/
/*NAVBAR*/
.header {
  position: sticky;
  top: 0;
  display: contents;
}

.banner-menu {
  // background-color: rgba(188, 171, 255, 0.5);
  display: none;
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: left;
  padding-left: 96px;
  background-color: $purple-opacity;
  height: 60px;
  p {
    font-size: 14px;
  }
}

.header_body-row {
  background-color: white;
  z-index: 11111;
  position: fixed;
  width: 100%;
  top: 0;
  display:flex;
  align-items: center;
  box-shadow: 0px 16px 16px -16px rgba(0, 0, 0, 0.32), 0px 8px 16px rgba(0, 0, 0, 0.1);
  .header_brand {
    max-width:20%;
    margin-left: 6em;
    margin-right: 20px;
    .header_logo,.logo {
      margin: 0.75rem 0 0.70rem 0;
      font-family: 'Marianne-Bold', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      padding: 3px;
      color: $black;
      white-space: nowrap;
      &:hover {
        background-color: $white-grey;
        border-radius: 5px;
      }
    }
  }

  .header_tools-links {
    .links-group {
      list-style-type: none;
      display:flex;
      padding:0;
      width:100%;
      justify-content: flex-start;
      margin:0;
      align-items: center;
      li {
        padding: 0 10px;
      .link-menu {
          font-family: 'Marianne-Regular', sans-serif;
          text-decoration: none;
          color: $black  !important;
          font-size: 14px;
          line-height: 24px;
          opacity: 1;
          display: table !important;
          background-color: transparent;
          padding: 0.95rem 0 0.95rem 0;
          .menu-name {
            padding: 0 8px 3px 8px;
            height: 30px;
          }
          &:hover {
            box-shadow: rgba(188, 171, 255, 0.5) 0px -0.4rem 0px inset, inset 0 -2rem 0 #ffffff;
            .menu-name {
              background-color: $white-grey;
              border-radius: 5px;
            }
          }
        }
        a .links-icones {
          font-size: 18px;
        }
        .link-menu.link-selected {
          white-space: nowrap;
          box-shadow: $purple 0px -0.4rem 0px inset, inset 0 -2rem 0 #ffffff;
          border-radius: 0;
        }
      }
    }
  }


  .link-menu:after {
    display: none;
  }


  .menu-btn {
    display: none;
  }

  .menu-icon {
    display:none;
  }

  .menu-tel {
    display:none;
  }
}

.header-mobile {
  display: none;
}

/*----------------------------------------*/
/*RESPONSIVE*/
@media only screen and (max-width: 1250px) {

}

@media (min-width:768px) and (max-width:1024px) {
  .header .header_body-row {
      .link-menu {
        font-size: 12px;
        margin: 0px;
        white-space: nowrap;
      }

      .header_brand {
        min-width: auto;
        margin-left: 1em;
        margin-right: 10px;
        .header_logo {
          padding: 0;
        }

        .logo {
          font-size: 20px;
        }
      }

      .header_tools-links {
        width: 100%;

        .links-group {
          justify-content: space-around;
          li {
            margin: 0;
            .link-menu .menu-name .links-icones .emojis-eflc-medium {
              width: 20px;
            }
          }
        }
      }
    }
    .banner-menu {
      .banner-menu {
        padding-left: 70px;
      }
    }
}

@media only screen and (max-width: 768px) {

  .header {
    display: none;
  }

  .header-mobile {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    top: 0;
    display: block;
    position: fixed;
    top: 0;
    z-index: 11;
  }

  .header-mobile ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }

  .header-mobile a {
    font-family: 'Marianne-Regular', sans-serif;
    text-decoration:none;
    color: $black !important;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    li {
      padding: 15px 0;
      text-align:center;
      background-color: $purple-menu-mobile;
      border-top: 0.1px solid $white;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin-right: 6px;
      }
    }
  }

  .header-mobile .logo-mobile {
    display: block;
    float: left;
    padding: 16px 20px 16px 20px;
    text-decoration: none;
    opacity: 1;
    font-family: 'Marianne-Bold', sans-serif !important;
    font-style: normal;
    font-weight: bold !important;
    font-size: 20px !important;
    line-height: 28px;
    white-space: nowrap;
    color: $black;
    img {
      max-width: 100%;
    }
  }

  /* menu */

  .header-mobile .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    a {
      .link-selected {
        background-color: $purple-opacity;
      }
      li {
        .paragraphe-bold {
          font-size: 14px;
          margin: 0;
        }
        .paragraphe-x-small {
          color: $title-grey;
          margin: 0;
        }
      }
    }
  }

  /* menu icon */

  .header-mobile .menu-icon {
    cursor: pointer;
    float: right;
    position: relative;
    user-select: none;
    display: flex;
    justify-content:
    space-between;
    align-items: center;
    border-radius: 40px;
    margin: 12px 10px 12px 0 ;
    padding: 5px 15px 7px;
    background-color: $purple-menu-mobile;
    .navicon {
      background: #333;
      display: block;
      height: 2px;
      position: relative;
      transition: background .2s ease-out;
      width: 18px;
      margin-left: 10px;
    }
    .menu-span {
      font-family: 'Marianne-Regular', sans-serif;
    }
  }

  .header-mobile .menu-icon .navicon:before,
  .header-mobile .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    .menu-span {
      display: none;
    }
  }

  .header-mobile .menu-icon .navicon:before {
    top: 5px;
  }

  .header-mobile .menu-icon .navicon:after {
    top: -5px;
  }

  /* menu btn */

  .header-mobile .menu-btn {
    display: none;
  }

  .header-mobile .menu-btn:checked ~ .menu {
    max-height: 370px;
  }

  .header-mobile .menu-btn:checked ~ .menu-icon {
    height: 30px;
    width: 38px;
    margin-right: 15px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .header-mobile .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .header-mobile .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .header-mobile .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .header-mobile .menu-btn:checked ~ .menu-icon .menu-span {
    display: none;
  }

  .header-mobile .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header-mobile .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
}
