.notation-button {
  padding: 0px 10px 3px;
  border-radius: 50px;
  border: 1px solid $black;
  margin: 0 5px;
  cursor: pointer;
  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.banner-green {
  background-color: $green;
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  .banner-text {
    display: flex;
    .mt10 {
      display: flex;
      align-items: center;
    }
  }
  .close {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
  }
}

#notation-catalogue-helps,#notation-catalogue-conseils {
  display:none;
}

@media only screen and (max-width: 1250px) {
  .banner-green {
    padding: 10px;
    .tablet {
      display: block;
    }
    .banner-text {
      .mt10 {
        display: block;
      }
    }
  }
  .notation-button {
    max-height: 25px;
  }
}
@media only screen and (max-width: 750px) {
  .banner-green {
    height: auto;
    .banner-text {
      display: block;
      padding: 20px;
      .mt10 {
        display: block;
      }
      .d-flex {
        justify-content: center;
      }
      .d-grid {
        display: inline-grid;
        span {
          margin-top: 8px;
          display: block;
          text-align: center;
          white-space: nowrap;
        }
      }
    }
    .close {
      right: 35px;
      top: 12px;
      img {
        width: 17px;
      }
    }
  }
}
