.evaluation-help-div,.display-reviews{
  background-color: $purple-comment;
  padding: 46px 72px;
  border-radius: 4px;
}

.display-reviews {
  .comment {
      background-color: $purple-blue;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
      border-radius: 0px 24px 24px 24px;
      font-family: Marianne-Regular;
      color: $white;
      padding: 12px 20px;
      margin: 10px 0px;
    .comment-help {
      font-size: 14px;
      line-height: 20px;
    }
    .comment-date {
      font-size: 10px;
      line-height: 20px;
    }
  }
  .evaluations_helps_index {
    margin-bottom: 30px;
    .d-flex {
      align-items: center;
      justify-content: space-between;
      .paragraphe {
        margin: 0;
      }
    }
    .paragraphe-small {
      margin-top: 0;
    }
    .progress-bar {
      background: $white;
      border-radius: 8px;
      height: 9px;
      width: 200px;
      .progress1 {
        background: $purple-blue;
        height: 9px;
        width: 20%;
        border-radius: 8px;
      }
      .progress2 {
        background: $purple-blue;
        height: 9px;
        width: 40%;
        border-radius: 8px;
      }
      .progress3 {
        background: $purple-blue;
        height: 9px;
        width: 60%;
        border-radius: 8px;
      }
      .progress4 {
        background: $purple-blue;
        height: 9px;
        width: 80%;
        border-radius: 8px;
      }
      .progress5 {
        background: $purple-blue;
        height: 9px;
        width: 100%;
        border-radius: 8px;
      }
    }
  }
}

.evaluation-help-div {
  height: fit-content;
  margin-bottom: 24px;
  form {
    display: none;
  }
  .button {
    width: 100%;
    display: flex;
    justify-content: right;
    .button-evaluation {
      border-radius: 40px;
      border: none;
      cursor: pointer;
      padding: 12px 25px;
      font-family: 'Marianne-Regular', sans-serif;
      background-color: $purple-blue;
      transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
      color: $white;
      font-size: 16px;
      text-decoration: none;
      margin-top: 12px;
    }
  }
  .evaluation-text-phone {
    display: none;
  }
  .evaluation-text,.evaluation-text-phone {
    font-size: 14px;
    margin: 25px 0;
    cursor: pointer;
    .notes-evaluation.active,.notes-evaluation-phone.active {
      background-color: $purple-blue !important;
    }
    .list-notes {
      margin: 0px 10px;
      display: flex;
      justify-content: space-between;
    }
    .info-notation {
      align-items: center;
      margin: 0px 10px;
      justify-content: space-between;
      .paragraphe {
        margin-top: 0;
      }
    }
    .notes-evaluation,.notes-evaluation-phone {
      background-color: $white;
      border-radius: 50%;
      padding: 8px 14px 9px 14px;
      margin: 0 8px;
    }
    .notes-evaluation {
      &:hover {
        background-color: $hover-blue;
      }
    }
  }
}

@media only screen and (max-width: 1250px) {
  .div-review {
    .evaluation-help-div {
      padding: 46px 40px;
      .evaluation-text {
        white-space: nowrap;
        .notes-evaluation {
          margin: 3px;
        }
      }
    }
    .form-review,.display-reviews {
      padding: 46px 40px;
    }
  }
}

@media only screen and (max-width: 820px) {
  .div-review {
    display: block;
    padding: 20px 30px;
    .evaluation-help-div {
      padding: 35px 20px;
    }
    .sub-div-review {
      margin-bottom: 24px;
      .paragraphe {
        text-align: center;
      }
      .button {
        justify-content: center;
      }
    }
    .form-review,.display-reviews {
      padding: 35px 40px;
      .progress-bar {
        width: 80%;
        text-align: center;
      }
      .simple_form.new_review {
        text-align: center;
      }
    }
  }

}

@media only screen and (max-width: 550px) {
  .div-review {
    padding: 20px 15px;
    .evaluation-help-div {
      padding: 35px 10px;
    }
    .form-review,.display-reviews {
      padding: 35px 20px;
    }
  }
  .evaluation-help-div {
    .evaluation-text {
      display: none;
    }
    .evaluation-text-phone {
      display: block;
      margin: 13px 0;
      white-space: nowrap;
      .notes-evaluation-phone {
        padding: 11px 17px 12px 17px;
      }
    }
  }
}
