.display-reviews {
  background-color: $purple-comment;
  padding: 46px 72px;
  border-radius: 4px;
  .comment-help {
    background-color: $purple-blue;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    border-radius: 0px 24px 24px 24px;
    font-family: Marianne-Regular;
    font-size: 14px;
    line-height: 20px;
    color: $white;
    padding: 12px 20px;
  }
}
