.evaluation-help-div,.display-reviews{
  background-color: $purple-comment;
  padding: 46px 72px;
  border-radius: 4px;
}

.display-reviews {
  .comment-help {
    background-color: $purple-blue;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    border-radius: 0px 24px 24px 24px;
    font-family: Marianne-Regular;
    font-size: 14px;
    line-height: 20px;
    color: $white;
    padding: 12px 20px;
  }

}

.evaluation-help-div {
  height: fit-content;
  margin-bottom: 24px;
  form {
    display: none;
  }
  .button {
    width: 100%;
    display: flex;
    justify-content: right;
    .button-evaluation {
      border-radius: 40px;
      border: none;
      cursor: pointer;
      padding: 12px 25px;
      font-family: 'Marianne-Regular', sans-serif;
      background-color: $purple-blue;
      transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
      color: $white;
      font-size: 16px;
      text-decoration: none;
      margin-top: 12px;
    }
  }

  .evaluation-text {
    font-size: 14px;
    margin: 25px 0;
    cursor: pointer;
    .notes-evaluation.active {
      background-color: $purple-blue;
    }
    .notes-evaluation {
      background-color: $white;
      border-radius: 50%;
      padding: 8px 14px 9px 14px;
      margin: 0 8px;
      &:hover {
        background-color: $hover-blue;
      }
    }
  }
}
