/*----------------------------------------*/
/*BANNER*/

.banner-title {
  padding: 8vh 23vw;
  text-align: center;

  h1 {
    line-height: 45px;
    font-family: 'Spectral', serif;
    font-weight: 400;
    font-size: 34px;
    display: inline-block;
    padding:5%;
  }
  .paragraphe {
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
  }
}
.title {
  line-height: 40px;
  font-family: 'Spectral', serif;
  font-weight: 400;
  font-size: 34px;
  display: inline-block;
  padding: 5%;
}

@media only screen and (max-width: 750px) {
  .title {
    font-size: 24px;
    line-height: 29.7px;
    padding: 0em 1em 0em 1em;
  }
  .banner-title {
    padding: 2em 0 1em;
    h1 {
      font-size: 24px;
      line-height: 29.7px;
      padding: 0em 1em 0em 1em;
    }
    .paragraphe {
      font-size: 12px;
      line-height: 20px;
      text-align: center;
    }
  }
}
