/*----------------------------------------*/
/*BANNER*/

.banner-title {
  padding: 8vh 23vw;
  text-align: center;

  h1 {
    line-height: 60px;
    font-family: 'Spectral', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 34px;
    display: inline-block;
  }
  .paragraphe {
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
  }
}
