@import "bootstrap/scss/bootstrap";
@import "@gouvfr/dsfr/dist/dsfr/dsfr.min.css";
@import "@gouvfr/dsfr/dist/utility/utility.min.css";

// Fonts & colors
@import "config/fonts";
@import "config/colors";

/* CSS partials*/
@import "pages/index";
@import "components/index";

body {
  margin:0;
}

.layout {
  padding-top: 57.2px;
}

@media only screen and (max-width: 768px) {
  .layout {
    padding-top: 60px;
  }
}
