<% if chiffre >= 50 %>
  <div class="flottante purple"><%= image_tag "arrow-line.svg", alt: "flèche" %><p class="see-more">voir plus</p></div>
<% else %>
  <div class="flottante orange"><%= image_tag "arrow-line.svg", alt: "flèche" %><p class="see-more">voir plus</p></div>
<% end %>
