<div class="organization-no-result">
  <p class="no-result">Aucun résultat pour «<%= query %>»</p>
  <a href="<%= organizations_path %>" class="btn btn-outlined-white"><%= image_tag 'arrow-line-structures.svg', alt: "icône flèche"%> voir toutes les structures</a>
</div>
