<div class="ajout-aide-page confirm">
  <div class="ajout-aide-title">
    <p class="subtitle-spectral">Votre participation contribue à améliorer l'égalité femmes-hommes, merci. <span class="subtitle-regular">Une fois traitées ces données seront publiées sur le site ellesfontlaculture. Pour toutes questions : ellesfontlaculture@beta.gouv.fr"</span></p>
    <%= image_tag "illu-femme-argent.png" %>
    <%= link_to "Retourner à l'index parité", organizations_path, class: "btn btn-black" %>
  </div>
</div>
