<div class="ajout-aide-page confirm">
  <div class="ajout-aide-title">
    <p class="subtitle-spectral">Merci votre contibution à bien été prise en compte ! <span class="subtitle-regular">Notre équipe s'assure de relire vos chiffres et les poster au plus vite ! </span></p>
    <%= image_tag "illu-femme-argent.png" %>
    <%= link_to "Retourner à l'accueil", root_path, class: "btn btn-black" %>
  </div>
</div>
