<div class="div-index-parite">
  <%= image_tag "arrow-last-index.svg", alt: "flèche retour", class: "arrow-back" %>
  <div class="div-title-index-parite">
    <h1 class="title-marianne">Index parité : <span class="spectral-title"> structures et festivals photo</span></h1>
    <p class="paragraphe">Cet outil a pour objectif d’apporter plus de transparence sur les inégalités de genre dans le secteur de la photographie et aiguiller les organisations culturelles. Il s’appuit sur les données collectées par le ministère de la Culture dans le cadre de l'Observatoire 2022 de l'égalité dans la culture et la communication.</p>
  </div>
  <div class="cards-organizations">
    <% @organizations.each do |organization| %>
      <%= render "organizations/card_organization", organization: organization %>
    <% end %>
  </div>
</div>
