<div class="div-index-parite">
  <a href="/chiffres_inegalites"><%= image_tag "arrow-last-index.svg", alt: "flèche retour", class: "arrow-back" %></a>
  <div class="div-title-index-parite">
    <h1 class="title-marianne">Index parité : <span class="spectral-title"> structures et festivals photo</span></h1>
    <p class="paragraphe">Cet outil a pour objectif d’apporter plus de transparence sur l'égalité professionnelle dans le secteur de la photographie et favoriser les bonnes pratiques des organisations culturelles. Il s’appuie sur les données collectées par le ministère de la Culture dans le cadre de l'Observatoire 2022 de l'égalité dans la culture et la communication.</p>
  </div>
  <div class="cards-organizations">
    <% @organizations.each do |organization| %>
      <%= render "organizations/card_organization", organization: organization %>
    <% end %>
  </div>
  <p class="paragraphe-small">Source : Ministère de la Culture, Secrétariat général, Deps-doc/dgca, Département de la photographie, 2022. Dernières données communiquées pour la période 2020-2021 (31/12/2021 pour les directions de structures de festivals, année 2020 pour le nombre de femmes exposées dans les structures et année 2021 pour le nombre de femmes exposées dans les festivals)</p>
</div>
