<div class="div-chiffres">
    <%= render "chiffres_organizations/card_chiffres", title: "candidat(e)s", nb_femmes: chiffre.nb_femmes_candidates, nb_total: chiffre.nb_total_candidats, parite: chiffre.candidates_parite %>
    <%= render "chiffres_organizations/card_chiffres", title: "laurét(e)s", nb_femmes: chiffre.nb_femmes_laureates, nb_total: chiffre.nb_total_laureates , parite: chiffre.laureates_parite %>
    <%= render "chiffres_organizations/card_chiffres", title: "jury", nb_femmes: chiffre.nb_femmes_jurys, nb_total: chiffre.nb_total_jurys, parite: chiffre.jurys_parite %>
</div>
