<div class="display-reviews">
  <p class="paragraphe-title mt0">Avis et commentaires</p>
  <% reviews.each do |review| %>
    <p class="comment-help"><%= review.comment.gsub(/\n/, '<br/>').html_safe %></p>
  <% end %>
</div>
