<div class="form-review" id="review-div">
  <p class="paragraphe-title mt0">Une question ? Un commentaire ? Demandez à la communauté ! </p>
  <%= simple_form_for([help, review]) do |f| %>
    <%= f.input :comment, label: false, placeholder: "Je fais partie des lauréates de 2021, si vous avez des questions voici mon insta @ellesfontlaculture. Marie",as: :text, input_html: {rows: 10} %>
    <%= f.submit "Envoyer", class: "review-button" %>
  <% end %>
</div>
