<html>
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>

   <body>
      <h1>Il y a une nouvelle aide !</h1>

      <p class="paragraphe"><b><%= @help.author_email %></b> a ajouté une nouvelle aide pour la structure: <b><%= @help.institution_name%></b><br>
      </p>

      <p class="paragraphe"> Vous pouvez la retrouver dans le back office en "non visible". Un email sera envoyé au createur de l'aide lorsque celle ci sera visible !</p>

   </body>
</html>
