<html>
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>

   <body>

      <p class="paragraphe">Bonjour,<br>
      L'aide que vous avez ajouté à notre catalogue a été publiée, vous pouvez la consulter en cliquant <a href="https://www.ellesfontlaculture.beta.gouv.fr/helps/<%= @help.id %>">ici</a>.<br>
      Merci beaucoup pour votre contribution !<br>
      L'équipe Elles font la culture<br>
      </p>

   </body>
</html>
